<div class="formulario">
  <%= simple_form_for [@agente, @venta] do |f| %>
    <%= f.input :valor, input_html: { autocomplete: "off", autofocus: "on" } %>
    <%= f.input :fechaVenta, input_html: { autocomplete: "off" } %>
    <label class="MPago" for="medioPago">Medios de Pago</label><%=f.select :medioPago,([['Efecty'], ['Daviplata'], ['SuperGiros'], ['Bacolombia']])%>
    <%= f.button :submit, :class => 'Btn' %>
  <% end %>
</div>
