<table border="1">
	<thead>
		<th>Valor</th>
		<th>Fecha Venta</th>
		<th>Medio Pago</th>
	</thead>
	<tbody>
		<tr>
			<td><%= @venta.valor %></td>
			<td><%= @venta.fechaVenta %></td>
			<td><%= @venta.medioPago %></td>
		</tr>
	</tbody>
</table>

<div class="links">
	<a>Menu</a>
	<%= link_to 'Ver Todas', agente_ventas_path(@agente) %>
	<%= link_to 'Editar', edit_agente_venta_path(@agente,@venta) %>
</div>
