<tr>
	<td scope="row"><%= link_to agente.primerNombre.capitalize, agente_path(agente) %></td>
	<td><%= agente.primerApellido.capitalize %></td>
	<td><%= agente.nombreUds.capitalize %></td>
	<td><%= agente.modalidad.capitalize %></td>
	<td><%= link_to 'Editar', edit_agente_path(agente), :class => "editar" %> <i class="fa fa-edit"></i></td>
	<td><%= link_to 'Eliminar', agente_path(agente), method: :delete, data: {confirm: "Estás seguro?"}, :class => "eliminar" %> <i class="fa fa-trash"></i></td>
</tr>
