<%= simple_form_for @agente, wrapper: :floating_labels_form do |f| %>
  <%= f.input :primerNombre, label: "Primer Nombre" %>
  <%= f.input :segundoNombre, label: "Segundo Nombre" %>
  <%= f.input :primerApellido, label: "Primer Apellido" %>
  <%= f.input :nombreUds, label: "Nombre UDS" %>
  <%= f.input :modalidad, label: "Modalidad" %>
  <%= f.input :correo, label: "Correo" %>
  <%= f.input :cedula, label: "Cedula" %>
  <div class="botones">
  	<%= f.button :submit, value: "Crear Agente", class: "btn btn-info" %>
  	<div class="btn btn-secondary">
  		<i class="fas fa-undo-alt"></i> <%= link_to 'Regresar', agentes_path %>
  	</div>
  </div>
<% end %>