<div class="form-group">
  <div class="row">
    <div class="col-sm-12">
      <%= simple_form_for @agente do |f| %>
        <%= f.input :primerNombre, input_html: { autocomplete: "off", autofocus: "on" } %>
        <%= f.input :segundoNombre, input_html: { :class => 'SegundoNombre' } %>
          <%= f.input :primerApellido, input_html: { autocomplete: "off" } %>
          <%= f.input :nombreUds, input_html: { :class => 'nombreUDS' } %>
        <label class="Mod" for="modalidad">Modalidad</label><div class="Modalidad"><%=f.select :modalidad,([['Tradicional'], ['Institucional'], ['Familiar'], ['Propia']]), :class => 'Sel'%></div>
          <div class="correoCedula">
            <%= f.input :correo, input_html: { :class => 'correocedulaInput' } %>
            <%= f.input :cedula, input_html: { :class => 'correocedulaInput' } %>
          </div>
          <%= f.button :submit, :class => 'btn btn-primary'%>
      <% end %>
    </div>
  </div>
</div>
