<div class="show">
	<ul class="nav nav-tabs">
	  <li class="nav-item">
	    <%= link_to 'Ver todos', agentes_path, class: "nav-link" %>
	  </li>
	  <li class="nav-item">
	    <%= link_to 'Editar', edit_agente_path(@agente), class: "nav-link" %>
	  </li>
	  <li class="nav-item">
	    <%= link_to 'Ver Planeaciones', agente_planeaciones_path(@agente), class: "nav-link" %>
	  </li>
	  <li class="nav-item">
	    <%= link_to 'Ver Transacciones', agente_transacciones_path(@agente), class: "nav-link" %>
	  </li>
	</ul>

	<table class="table">
	  <tbody>
			<tr>
		  	<td><span class="listaTitle">Primer Nombre:</span></td>
				<td><%= @agente.primerNombre.capitalize %></td>
		  </tr>
			<tr>
				<td><span class="listaTitle">Segundo Nombre:</span></td>
				<td><%= @agente.segundoNombre.capitalize %></td>
			</tr>
			<tr>
				<td><span class="listaTitle">Primer Apellido:</span></td>
				<td><%= @agente.primerApellido.capitalize %></td>
			</tr>
			<tr>
				<td><span class="listaTitle">Nombre UDS:</span></td>
				<td><%= @agente.nombreUds.capitalize %></td>
			</tr>
			<tr>
				<td><span class="listaTitle">Modalidad:</span></td>
				<td><%= @agente.modalidad.capitalize %></td>
			</tr>
			<tr>
				<td><span class="listaTitle">Correo:</span></td>
				<td><%= @agente.correo.capitalize %></td>
			</tr>
			<tr>
				<td><span class="listaTitle">Cedula:</span></td>
				<td><%= @agente.cedula %></td>
			</tr>
	  </tbody>
	</table>
</div>
