<div class="listaShow">
	<ul>
		<li><span class="listaTitle">Primer Nombre:</span> <%= @agente.primerNombre.capitalize %></li>
		<li><span class="listaTitle">Segundo Nombre:</span> <%= @agente.segundoNombre.capitalize %></li>
		<li><span class="listaTitle">Primer Apellido:</span> <%= @agente.primerApellido.capitalize %></li>
		<li><span class="listaTitle">Nombre UDS:</span> <%= @agente.nombreUds.capitalize %></li>
		<li><span class="listaTitle">Modalidad:</span> <%= @agente.modalidad.capitalize %></li>
		<li><span class="listaTitle">Correo:</span> <%= @agente.correo.capitalize %></li>
		<li><span class="listaTitle">Cedula:</span> <%= @agente.cedula %></li>
	</ul>
</div>

<div class="links linksAgente">
	<a>Menu</a>
	<%= link_to 'Ver todos', agentes_path %>
	<%= link_to 'Editar', edit_agente_path(@agente) %>
	<%= link_to 'Ver Planeaciones', agente_planeaciones_path(@agente) %>
	<%= link_to 'Ver Ventas', agente_ventas_path(@agente) %>
</div>
