<table border="1">
	<thead>
		<th>Primer Nombre</th>
		<th>Segundo Nombre</th>
		<th>Primer Apellido</th>
		<th>Nombre UDS</th>
		<th>Modalidad</th>
		<th>Correo</th>
	</thead>
	<tbody>
		<tr>
			<td><%= @agente.primerNombre %></td>
			<td><%= @agente.segundoNombre %></td>
			<td><%= @agente.primerApellido %></td>
			<td><%= @agente.nombreUds %></td>
			<td><%= @agente.modalidad %></td>
			<td><%= @agente.correo %></td>
		</tr>
	</tbody>
</table>

<div class="links linksAgente">
	<a>Menu</a>
	<%= link_to 'Ver todos', agentes_path %>
	<%= link_to 'Editar', edit_agente_path(@agente) %>
	<%= link_to 'Ver Planeaciones', agente_planeaciones_path(@agente) %>
	<%= link_to 'Ver Ventas', agente_ventas_path(@agente) %>
</div>
