<tr>
	<td><%= link_to planeacion.formato, agente_planeacion_path(@agente, planeacion) %></td>
	<td><%= planeacion.nombre %></td>
	<td><%= planeacion.tematica %></td>
	<td><%= planeacion.estado %></td>
	<td><%= link_to 'Editar', edit_agente_planeacion_path(@agente, planeacion) %></td>
	<td><%= link_to 'Eliminar', agente_planeacion_path(@agente, planeacion), method: :delete, data: {confirm: 'Estás seguro?'} %></td>
</tr>
