<br><br><br>
<h2>Planeaciones</h2>

<nav id="menuLateral">
		<ul id="ul">
				<li><i class="fas fa-home"></i> <%= link_to ' Inicio', agentes_path %></li>
				<% if current_usuario.has_role? :admin %>
					<li><i class="fas fa-users"></i> <%= link_to 'Usuarios', usuarios_path %></li>
				<% end %>
        <li> <i class="fas fa-plus"></i> <%= link_to 'Nueva Planeacion', new_agente_planeacion_path(@agente) %></li>
				<li> <i class="fas fa-user-tie"></i> <%= link_to ' Ver Agente', agente_path(@agente) %></li>
		</ul>
</nav>

<table border="1" id="planeaciones" class="table">
	<thead class="thead-dark">
		<th scope="col">Formato</th>
		<th scope="col">Tematica</th>
		<th scope="col">Fecha de creacion</th>
		<th scope="col">Editar</th>
		<th scope="col">Eliminar</th>
	</thead>
	<tbody id="bodyTable">
		<%= render @planeaciones %>
	</tbody>
</table>
