<nav id="menuLateral">
		<ul id="ul">
				<li><i class="fas fa-home"></i> <%= link_to ' Inicio', agentes_path %></li>
				<% if current_usuario.has_role? :admin %>
					<li><i class="fas fa-users"></i> <%= link_to 'Usuarios', usuarios_path %></li>
				<% end %>
				<li><i class="fas fa-book"></i> <%= link_to 'Planeaciones', agente_planeaciones_path(@agente) %></li>
				<li><i class="fas fa-user-edit"></i> <%= link_to 'Editar', edit_agente_planeacion_path(@agente, @planeacion) %></li>
				<li><i class="fas fa-file-pdf"></i> <a href="/agentes/<%= @agente.id %>/planeaciones/<%= @planeacion.id %>.pdf" target="_blank">Generar PDF</a></li>
		</ul>
</nav>

<div class="list-group">
 <h2 class="list-group-item list-group-item-dark">Informaci칩n de Planeaci칩n</h2>

	<table class="table table-stripe">
	  <tbody>
			<tr class="list-group-item">
		  	<th><span class="listaTitle">Formato:</span></th>
				<td><%= @planeacion.formato.capitalize %></td>
		  </tr>
			<tr class="list-group-item">
				<th><span class="listaTitle">Tem치tica:</span></th>
				<td><%= @planeacion.tematica.capitalize %></td>
			</tr>
			<tr class="list-group-item">
				<th><span class="listaTitle">Fecha de creci칩n:</span></th>
				<td><%= @planeacion.fecha_de_creacion %></td>
			</tr>
	  </tbody>
	</table>
</div>
