<!-- <table border="1">
	<thead>
		<th>Formato</th>
		<th>Tematica</th>
		<th>Estado</th>
	</thead>
	<tbody>
		<tr>
			<td><%= @planeacion.formato %></td>
			<td><%= @planeacion.tematica %></td>
		</tr>
	</tbody>
</table> -->

<% if @planeacion.formato == 'Formato 1' %>
	<%= render 'formato1' %>
<% elsif @planeacion.formato == 'Formato 2' %>
	<%= render 'formato2' %>
<% end %>

<!-- <div class="links">
	<a>Menu</a>
	<%= link_to 'Ver Todas', agente_planeaciones_path(@agente) %>
	<%= link_to 'Editar', edit_agente_planeacion_path(@agente, @planeacion) %>
</div> -->
