<h2>Información de Planeación</h2>

<div class="botones">
	<div class="editar btn btn-success">
		<i class="fas fa-user-edit"></i> <%= link_to 'Editar', edit_agente_planeacion_path(@agente, @planeacion) %>
	</div>

	<div class="pdf btn btn-secondary"></i> <a href="/agentes/<%= @agente.id %>/planeaciones/<%= @planeacion.id %>.pdf" target="_blank">Generar PDF</a>	
	</div>

	<div class="regresar btn btn-info">
		<i class="fas fa-undo-alt"></i> <%= link_to 'Regresar', agente_planeaciones_path(@agente) %>
	</div>
</div>

<dl class="infoShow">
	<dt>Formato:</dt>
	<dd>Formato: <%= @planeacion.formato.capitalize %></dd>

	<dt>Tematica:</dt>
	<dd><%= @planeacion.tematica.capitalize %></dd>

	<dt>Fecha de Creación</dt>
	<dd><%= @planeacion.fecha_de_creacion %></dd>
</dl>
