<h2>Transacciones</h2>

<nav id="menuLateral">
		<ul id="ul">
				<li><i class="fas fa-home"></i> <%= link_to ' Inicio', agentes_path %></li>
				<% if current_usuario.has_role? :admin %>
					<li><i class="fas fa-users"></i> <%= link_to 'Usuarios', usuarios_path %></li>
				<% end %>
				<li><i class="fas fa-user-tie"></i><%= link_to 'Ver Agente', agente_path(@agente) %></li>
		</ul>
</nav>

<div class="btnNuevo">
	<i class="fas fa-plus"></i> <%= link_to 'Transaccion', new_agente_transaccion_path(@agente) %>
</div>

<table id="transacciones" class="table">
	<thead>
		<tr>
			<th>Valor</th>
			<th>Medio de Pago</th>
			<th>Fecha de Pago</th>
			<th>Editar</th>
			<th>Eliminar</th>
		</tr>
	</thead>
	<tbody>
		<%= render @transacciones %>
	</tbody>
</table>

<div class="grafica" id="hh">
	<h1>Estadistica de Transacciones</h1>
	<%= area_chart(@data) %>
</div>
