<div class="show">
	<ul class="nav nav-tabs">
	  <li class="nav-item">
	    <%= link_to 'Ver todas', agente_transacciones_path, class: "nav-link" %>
	  </li>
	  <li class="nav-item">
	    <%= link_to 'Editar', edit_agente_transaccion_path(@agente, @transaccion), class: "nav-link" %>
	  </li>
	  <li class="nav-item">
	    <a href="/agentes/<%= @agente.id %>/transacciones/<%= @transaccion.id %>.pdf" target="_blank" class="nav-link">Generar PDF</a>
	  </li>
	</ul>

	<table class="table">
	  <tbody>
			<tr>
		  	<td><span class="listaTitle">Valor:</span></td>
				<td><%= @transaccion.valor %></td>
		  </tr>
			<tr>
				<td><span class="listaTitle">Medio de Pago:</span></td>
				<td><%= @transaccion.medio_de_pago.capitalize %></td>
			</tr>
			<tr>
				<td><span class="listaTitle">Fecha de Pago:</span></td>
				<td><%= @transaccion.fecha_de_pago %></td>
			</tr>
	  </tbody>
	</table>
</div>
