<h2>Información de Transacción</h2>

<div class="botones">
	<div class="editar btn btn-success">
		<i class="fas fa-user-edit"></i> <%= link_to 'Editar', edit_agente_transaccion_path(@agente, @transaccion) %>
	</div>

	<div class="pdf btn btn-secondary">
		<i class="fas fa-file-pdf"></i> <a href="/agentes/<%= @agente.id %>/transacciones/<%= @transaccion.id %>.pdf" target="_blank">Generar Factura</a>
	</div>

	<div class="regresar btn btn-info">
		<i class="fas fa-undo-alt"></i><%= link_to 'Regresar', agente_transacciones_path(@agente) %>
	</div>
</div>

<dl class="infoShow">
	<dt>Valor:</dt>
	<dd><%= @transaccion.valor %></dd>

	<dt>Medio de Pago:</dt>
	<dd><%= @transaccion.medio_de_pago.capitalize %></dd>

	<dt>Fecha de Pago:</dt>
	<dd><%= @transaccion.fecha_de_pago %></dd>
</dl>