<nav id="menuLateral">
		<ul id="ul">
				<li><i class="fas fa-home"></i> <%= link_to ' Inicio', agentes_path %></li>
				<% if current_usuario.has_role? :admin %>
					<li> <i class="fas fa-users"></i> <%= link_to 'Usuarios', usuarios_path %></li>
				<% end %>
				<li><i class="fas fa-dollar-sign"></i><%= link_to 'Ver todas', agente_transacciones_path %></li>
				<li><i class="fas fa-user-edit"></i><%= link_to 'Editar', edit_agente_transaccion_path(@agente, @transaccion) %></li>
				<li><i class="fas fa-file-pdf"></i><a href="/agentes/<%= @agente.id %>/transacciones/<%= @transaccion.id %>.pdf" target="_blank">Generar Factura</a></li>
		</ul>
</nav>

<div class="list-group">
<h2 class="list-group-item list-group-item-dark">Información de Transacción</h2>

<table class="table table-stripe">
	<tbody>
		<tr class="list-group-item">
			<th><span class="listaTitle">Valor:</span></th>
			<td><%= @transaccion.valor %></td>
		</tr>
		<tr class="list-group-item">
			<th><span class="listaTitle">Medio de Pago:</span></th>
			<td><%= @transaccion.medio_de_pago.capitalize %></td>
		</tr>
		<tr class="list-group-item">
			<th><span class="listaTitle">Fecha de Pago:</span></th>
			<td><%= @transaccion.fecha_de_pago %></td>
		</tr>
	</tbody>
</table>
</div>
