<%= simple_form_for @usuario, wrapper: :vertical_form  do |f| %>
	<%= f.input :email, input_html: { autocomplete: "off", autofocus: "on" } %>
 	<%= f.input :password, input_html: { autocomplete: "off" } %>
 	<%= f.input :password_confirmation, input_html: { autocomplete: "off" } %>
  	<%= f.input :primerNombre, input_html: { autocomplete: "off" } %>
  	<%= f.input :segundoNombre, input_html: { autocomplete: "off" } %>
 	<%= f.input :primerApellido, input_html: { autocomplete: "off" } %>
 	<%= f.association :roles, as: :check_boxes %>
  	<div class="botones">
  		<%= f.button :submit, class: "btn btn-info" %>
  		<div class="btn btn-secondary">
  			<i class="fas fa-undo-alt"></i> <%= link_to 'Regresar', usuarios_path %>
  		</div>
  	</div>
<% end %>