<tr>
	<td><%= link_to usuario.email, usuario_path(usuario) %></td>
	<td><%= usuario.primerNombre %></td>
	<td><%= usuario.primerApellido %></td>
	<td><%= link_to 'Editar', edit_usuario_path(usuario), :class => "editar" %> <i class="fa fa-edit"></i></td>
	<td><%= link_to 'Eliminar', usuario_path(usuario), method: :delete, data: {confirm: "Estás seguro?"}, :class => "eliminar" %> <i class="fa fa-trash"></i></td>
</tr>
