<h2>Usuarios</h2>

<nav id="menuLateral">
	<ul id="ul">
		<li><i class="fas fa-home"></i> <%= link_to ' Inicio', agentes_path %></li>
		<li><i class="fas fa-users"></i> <%= link_to 'Usuarios', usuarios_path %></li>
		<li><i class="fas fa-user-tie"></i><%= link_to 'Agentes', agentes_path %></li>
	</ul>
</nav>

<div class="btnNuevo">
	<i class="fas fa-plus"></i> <%= link_to 'Nuevo Usuario', new_usuario_path %>
</div>

<table id="usuarios" class="table">
	<thead>
		<th>Email</th>
		<th>Primer Nombre</th>
		<th>Primer Apellido</th>
		<th>Editar</th>
		<th>Eliminar</th>
	</thead>
	<tbody>
		<%= render @usuarios %>
	</tbody>
</table>
