<div class="show">
	<ul class="nav nav-tabs">
	  <li class="nav-item">
	    <%= link_to 'Ver Todos', usuarios_path, class: "nav-link" %>
	  </li>
	  <li class="nav-item">
	    <%= link_to 'Editar', edit_usuario_path(@usuario), class: "nav-link" %>
	  </li>
	</ul>

	<table class="table">
	  <tbody>
			<tr>
		  	<td><span class="listaTitle">Email</span></td>
				<td><%= @usuario.email %></td>
		  </tr>
			<tr>
				<td><span class="listaTitle">Primer Nombre</span></td>
				<td><%= @usuario.primerNombre %></td>
			</tr>
			<tr>
				<td><span class="listaTitle">Segundo Nombre</span></td>
				<td><%= @usuario.segundoNombre %></td>
			</tr>
			<tr>
				<td><span class="listaTitle">Primer Apellido</span></td>
				<td><%= @usuario.primerApellido %></td>
			</tr>
	  </tbody>
	</table>
</div>
