<h2>Información de Usuario</h2>

<div class="botones">
	<div class="editar btn btn-success">
		<i class="fas fa-user-edit"></i> <%= link_to 'Editar', edit_usuario_path(@usuario) %>
	</div>

	<div class="regresar btn btn-info">
		<i class="fas fa-undo-alt"></i> <%= link_to 'Regresar', usuarios_path %>
	</div>
</div>

<dl class="infoShow">
	<dt>Email</dt>
	<dd><%= @usuario.email %></dd>

	<dt>Primer Nombre</dt>
	<dd><%= @usuario.primerNombre %></dd>

	<dt>Segundo Nombre</dt>
	<dd><%= @usuario.segundoNombre %></dd>

	<dt>Primer Apellido</dt>
	<dd><%= @usuario.primerApellido %></dd>
</dl>