<section class="formato1 anexo" id="anx1">
	<%= image_tag wicked_pdf_asset_base64('portada.PNG') %>
</section>

<section class="formato1 anexo" id="anx1">
	<%= image_tag wicked_pdf_asset_base64('portada2.PNG') %>
</section>

<section class="formato1 anexo" id="anx1">
	<%= image_tag wicked_pdf_asset_base64('portada3.PNG') %>
</section>

<section class="formato1 anexo" id="anx1">
	<%= image_tag wicked_pdf_asset_base64('anx.PNG') %>
</section>

<section class="formato1" id="pg1">
	<table border="1">
		<tr>
			<td colspan="3">PLANEACIÓN PEDAGÓGICA: NUEVOS RETOS, NUEVAS EXPERIENCIAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA UNIDAD DE SERVICIO: <%= @agente.nombreUds.upcase %></td>
		</tr>
		<tr>
			<td colspan="3">PRACTICAS: 1, 13</td>
		</tr>
		<tr>
			<td id="title">FECHA: 01/07/2020</td>
			<td colspan="2">NOMBRE AGENTE EDUCATIVO: <%= "#{@agente.primerNombre.upcase} #{@agente.primerApellido.upcase}" %></td>
		</tr>
		<tr>
			<td colspan="3">RETO: SABORES TRADICIONALES EN FAMILIA</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA ACTIVIDAD: SOMOS COCINEROS – MIS MANOS TE ENSEÑAN A ALIMENTARTE</td>
		</tr>
		<tr>
			<td colspan="3">INTENCIONALIDAD FORMATIVA: Resaltar que la alimentación juega un papel muy importante en la salud de las personas. Es esencial que durante la infancia, los niños tengan una buena alimentación y aprendan a comer de forma correcta.</td>
		</tr>
		<tr>
			<td id="title">Materiales a Utilizar</td>
			<td colspan="2">Alimentos-Papel-Crayolas-Celular o cámara</td>
		</tr>
		<tr>
			<td id="title">Describa la actividad de inicio</td>
			<td colspan="2">Saludar y dar inicio dando a conocer el motivo de la llamada junto con las actividades a realizar en este día. Motivar a padres y niños a participar de cada una. Indagar sobre el estado de salud y emocional de los niños y niñas.</td>
		</tr>
		<tr>
			<td id="title">Describa el desarrollo de la actividad</td>
			<td colspan="2"><p>PRÁCTICA # 1: Somos Cocineros: Elegirán entre todos lo que deseen cocinar, bien sea para el desayuno, una merienda o el almuerzo. Una vez definan lo que desean comer dirán a los niños y niñas, “Vamos a imaginar que somos chef y hagamos este platillo como profesionales” Animemos a los niños a que describan los alimentos que vamos a usar, comenten la receta, digan su procedimiento, por qué les gusta, etc. Cuando estén preparando hacer un pequeño video para contar qué hicieron y por qué les gusta esa comida.</p><br>

			<p>PRÁCTICA # 13: De saltos: El concepto es simple: jueguen a competir por ver quién salta más lejos y más alto, con variaciones al hacerlo en un pie, en dos pies, con los ojos cerrados, con las manos sobre la cabeza, etcétera.</p><br>

			<p>RETO SABORES TRADICIONALES EN FAMILIA: Invitar a la familia a reunirse y cuenten una historia sobre algún alimento que consumían cuando eran niñas o niños, y que hoy en día son escasos o ya no se encuentran. Los relatos deben contener descripciones de los lugares donde se conseguían estos alimentos, ¿cómo se preparaban?, ¿quién los preparaba?, ¿cómo se consumían?, ¿cómo era n sus texturas, colores, sabores y sus formas? Promueva la curiosidad de la niña y el niño durante el relato y resuelva todas las preguntas que vayan surgiendo. Motive a que las niñas y niños escojan uno de los alimentos y realice un dibujo sobre cómo lo imaginó. Una vez el alimento haya sido dibujado por la niña o niño, elabore su propio dibujo del mismo alimento, partiendo de sus recuerdos. Realicen comparaciones entre los dibujos realizados. Exponga los dibujos en el espacio de la casa donde se reúne la familia a realizar los relatos. De ser posible registre la exposición por medio de fotos y videos.</p></td>
		</tr>
		<tr>
			<td id="title">Describa el cierre de la actividad</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td id="title">Describa cómo documentará la actividad</td>
			<td colspan="2">RETOS DE CUIDADO Y CRIANZA EN EL HOGAR-MIS MANOS TE ENSEÑAN-EXPERIENCIAS DE CUIDADO Y CRIANZA. </td>
		</tr>
		<tr>
			<td id="title">Observaciones</td>
			<td colspan="2"></td>
		</tr>
	</table>
</section>

<section class="formato1" id="pg2">
	<table border="1">
		<tr>
			<td colspan="3">PLANEACIÓN PEDAGÓGICA: NUEVOS RETOS, NUEVAS EXPERIENCIAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA UNIDAD DE SERVICIO: <%= @agente.nombreUds.upcase %></td>
		</tr>
		<tr>
			<td colspan="3">PRACTICAS: 1, 13</td>
		</tr>
		<tr>
			<td id="title">FECHA: 02/07/2020</td>
			<td colspan="2">NOMBRE AGENTE EDUCATIVO: <%= "#{@agente.primerNombre.upcase} #{@agente.primerApellido.upcase}" %></td>
		</tr>
		<tr>
			<td colspan="3">RETO: RECONOZCO LO QUE COMO</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA ACTIVIDAD: COCINAR JUNTOS – MIS MANOS TE ENSEÑAN A ALIMENTARTE</td>
		</tr>
		<tr>
			<td colspan="3">INTENCIONALIDAD FORMATIVA: Fijar hábitos alimentarios correctamente con unas rutinas alimentarias adecuadas y un estilo de vida saludable</td>
		</tr>
		<tr>
			<td id="title">Materiales a Utilizar</td>
			<td colspan="2">Alimentos-Objetos-Venda</td>
		</tr>
		<tr>
			<td id="title">Describa la actividad de inicio</td>
			<td colspan="2">Saludar afectuosamente a los papitos, niños y niñas. Cantaremos con el fin de iniciar alegremente y motivar a los niños a participar en lo propuesto para este nuevo día. Preguntar a los pequeños cómo se sienten, qué actividades han hecho, cuáles han disfrutado más, etc. A través de este interactuar estaré tomando nota de todo aquello que expresen los niños.</td>
		</tr>
		<tr>
			<td id="title">Describa el desarrollo de la actividad</td>
			<td colspan="2"><p>PRÁCTICA # 1: Aprovechando que ya estamos en casa, podemos meternos con los niños en la cocina y comenzar a hacer distintas actividades relacionadas con los alimentos. Cocinar juntos: Planifiquen y cocinen juntos las comidas del día. Jugar al té: Pero esta vez, con té real (solo asegúrate que sea apropiado para su edad): enseñándoles a prepararlo y servirlo. Inventar una receta. ¿Y si nos ponemos creativos? Veamos qué ingredientes tenemos en casa e inventemos un platillo nuevo, o bien, hagamos variantes a alguno que ya conozcamos</p><br>

			<p>PRÁCTICA # 13: Pares: Elija un conjunto de objetos que encajen o se relacionen entre sí como por ejemplo una llave y un candado, un lápiz y un papel, un jabón y una toalla, etc. (Todos los objetos deben ser seguros para el niño) y colóquelos mezclados en una mesa. Muestre al niño los objetos para que los reconozca, luego coja un objeto y pídale al niño que encuentre entre los restantes con cual podría encajar; si es necesario podemos ir dándole pistas. Posteriormente se puede complicar el juego utilizando imágenes en lugar de objetos ampliando así la cantidad de posibilidades.</p><br>

			<p>RETO RECONOZCO LO QUE COMO: Con un trozo de tela o una pañoleta vendar los ojos de la niña o el niño. Presentar a la niña o al niño, de 2 a 3 alimentos que tenga en la casa preferiblemente los que se hayan consumido durante el día; permítale que los explore. Establecer en conjunto con la niña o el niño mediante preguntas, las diferencias que identifica entre cada uno de los alimentos presentados. Se procederá a establecer otros atributos relacionados con los colores, olores, texturas, tamaños, sabores y pesos. Durante la exploración  reiterar el nombre de los alimentos y promover en el niño o la niña la elaboración de una frase con el nombre del alimento y las características identificadas.</p></td>
		</tr>
		<tr>
			<td id="title">Describa el cierre de la actividad</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td id="title">Describa cómo documentará la actividad</td>
			<td colspan="2">RETOS DE CUIDADO Y CRIANZA EN EL HOGAR-MIS MANOS TE ENSEÑAN-EXPERIENCIAS DE CUIDADO Y CRIANZA. </td>
		</tr>
		<tr>
			<td id="title">Observaciones</td>
			<td colspan="2"></td>
		</tr>
	</table>
</section>

<section class="formato1 anexo" id="anx1">
	<%= image_tag wicked_pdf_asset_base64('anx1.PNG') %>
</section>

<section class="formato1" id="pg4">
	<table border="1">
		<tr>
			<td colspan="3">PLANEACIÓN PEDAGÓGICA: NUEVOS RETOS, NUEVAS EXPERIENCIAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA UNIDAD DE SERVICIO: <%= @agente.nombreUds.upcase %></td>
		</tr>
		<tr>
			<td colspan="3">PRACTICAS: 1, 13</td>
		</tr>
		<tr>
			<td id="title">FECHA: 03/07/2020</td>
			<td colspan="2">NOMBRE AGENTE EDUCATIVO: <%= "#{@agente.primerNombre.upcase} #{@agente.primerApellido.upcase}" %></td>
		</tr>
		<tr>
			<td colspan="3">RETO: ¡PAREJAS CON  SABOR!¡PAREJAS CON  SABOR!</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA ACTIVIDAD: ENSALADA DE FRUTAS – MIS MANOS TE ENSEÑAN A ALIMENTARTE</td>
		</tr>
		<tr>
			<td colspan="3">INTENCIONALIDAD FORMATIVA:</td>
		</tr>
		<tr>
			<td id="title">Materiales a Utilizar</td>
			<td colspan="2">Alimentos-Objetos-Frutas-tapas</td>
		</tr>
		<tr>
			<td id="title">Describa la actividad de inicio</td>
			<td colspan="2">A través de un canto infantil realizaré el saludo en este día. Lograré con esto entrar en contacto con los miembros del hogar de manera amena y agradable. Indagar acerca de la salud y el ánimo de los pequeños de la casa.</td>
		</tr>
		<tr>
			<td id="title">Describa el desarrollo de la actividad</td>
			<td colspan="2"><p>PRÁCTICA # 1: Para asegurar el correcto desarrollo de los niños es imprescindible ofrecerles una buena alimentación, basada en el equilibrio de frutas, verduras, carne, pescado, legumbres, arroz, etc. Sin embargo, no siempre resulta tarea fácil conseguir que ingieran ciertos productos, y uno de los alimentos que más cuesta que coman los niños es la fruta. Por tal razón queremos ayudarte con este tema y, por ello, te proponemos elaborar una divertida ensalada de frutas para niños. ¡Deja volar tu imaginación e invita a preparar este rico plato a los niños! (Ver anexo)</p><br>

			<p>PRÁCTICA # 13: Propiedades de los objetos Tomando como ejemplo objetos y juguetes que se tienen en casa, muestre al niño al diferencia entre grande y pequeño, comestible y no comestible, duro y suave, frío y caliente, seco y húmedo, etc. Luego clasifique junto a él los artículos que puedan encontrar en casa como muebles, animales domésticos, juguetes, alimentos, etc. También se puede pedir al niño que clasifique tarjetas de imágenes que se tengan disponibles.</p><br>

			<p>RETO ¡PAREJAS CON  SABOR! Disponga de 3 frutas, de las cuales se extraerán 2 trozos pequeños por cada una de ellas Distribuya cada uno de los trozos en seis tapas de botellas, de manera que queden 2 tapas con los trozos de la misma fruta. Sobre una superficie limpia, ubique las tapas boca abajo cubriendo el trozo de fruta y revuélvalas para que queden disparejas. Invite a la niña o al niño a que seleccione una de las tapas, explore el trozo de la fruta encontrado desde el nombre el sabor, olor, textura y trate de encontrar la tapa que contiene el otro trozo de la fruta que exploró. Motive a que la niña o el niño logren encontrar las parejas de cada una de las frutas dispuestas para la experiencia. La actividad se puede variar con porciones de otro tipo de alimentos</p></td>
		</tr>
		<tr>
			<td id="title">Describa el cierre de la actividad</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td id="title">Describa cómo documentará la actividad</td>
			<td colspan="2">RETOS DE CUIDADO Y CRIANZA EN EL HOGAR-MIS MANOS TE ENSEÑAN-EXPERIENCIAS DE CUIDADO Y CRIANZA. </td>
		</tr>
		<tr>
			<td id="title">Observaciones</td>
			<td colspan="2"></td>
		</tr>
	</table>
</section>

<section class="formato1 anexo" id="anx1">
	<%= image_tag wicked_pdf_asset_base64('anx2.PNG') %>
</section>

<section class="formato1 anexo" id="anx1">
	<%= image_tag wicked_pdf_asset_base64('anx3.PNG') %>
</section>

<section class="formato1" id="pg7">
	<table border="1">
		<tr>
			<td colspan="3">PLANEACIÓN PEDAGÓGICA: NUEVOS RETOS, NUEVAS EXPERIENCIAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA UNIDAD DE SERVICIO: <%= @agente.nombreUds.upcase %></td>
		</tr>
		<tr>
			<td colspan="3">PRACTICAS: 1, 13</td>
		</tr>
		<tr>
			<td id="title">FECHA: 06/07/2020</td>
			<td colspan="2">NOMBRE AGENTE EDUCATIVO: <%= "#{@agente.primerNombre.upcase} #{@agente.primerApellido.upcase}" %></td>
		</tr>
		<tr>
			<td colspan="3">RETO: ME LO DICEN MIS MANOS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA ACTIVIDAD: ESPEJO – MIS MANOS TE ENSEÑAN A CUIDARTE</td>
		</tr>
		<tr>
			<td colspan="3">INTENCIONALIDAD FORMATIVA: Enseñar a los niños las formas de actuar ante determinadas situaciones, por ejemplo, lavarse las manos antes de comer, luego de salir del baño, cepillarse los dientes luego de cada comida, etc.</td>
		</tr>
		<tr>
			<td id="title">Materiales a Utilizar</td>
			<td colspan="2">Agua –Jabón-Aceite</td>
		</tr>
		<tr>
			<td id="title">Describa la actividad de inicio</td>
			<td colspan="2">Iniciarán la jornada con una dinámica que los invite a participar. Se hace un circulo y el que dirige se hace en el centro y comienza el canto, Da 3 palmas, otra vez, nuevamente da 3 palmas cuando se dice ahí donde estas parado, se hace lo que se le ocurre, Ej. : Ahí donde estas parado pisa el que está a tu lado y así sucesivamente</td>
		</tr>
		<tr>
			<td id="title">Describa el desarrollo de la actividad</td>
			<td colspan="2"><p>PRÁCTICA # 5: Espejo Este juego le enseñará al niño a observar de cerca los movimientos de un adulto y a imitarlos. Para jugar le pediremos al niño que sea nuestro espejo y que repita todas nuestras acciones. Así podemos invitar a los niños a lavarse las manos, cepillar sus dientes, bañarse, etc. Este juego permite ir variando las acciones que le mostramos al niño y luego cuando aprenda a imitarlas fácilmente podemos pedirle copiar una secuencia de acciones.</p><br>

			<p>PRÁCTICA # 13: "El sol y el frío". Un niño representa al frío y otro al sol. El niño que representa al frío persigue a todos los demás, cuando los toca, quedan congelados. El niño que es tocado se tiene que quedar en la misma posición en que le tocó el niño que representa al sol, tiene que tocar a todos los congelados, para que puedan seguir jugando.</p><br>

			<p>RETO ME LO DICEN MIS MANOS: Tome unas gotas de aceite para humedecer las manos de la niña o el niño. En la medida en que se va realizando la aplicación, recurra a acompañar este contacto corporal entonando una canción o recitando alguna retahíla relacionada con las manos. Cree una historia relacionada con la contaminación de gérmenes y bacterias, las cuales serán personificadas con el azúcar, harina o la canela. Se sugiere que mediante el desarrollo de la historia se relacionen los daños que hace a la salud tener las manos sucias. Concluya el cuento presentando al jabón como el héroe de la historia y proceda a realizar el lavado de manos por 20 segundos.</p> </td>
		</tr>
		<tr>
			<td id="title">Describa el cierre de la actividad</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td id="title">Describa cómo documentará la actividad</td>
			<td colspan="2">RETOS DE CUIDADO Y CRIANZA EN EL HOGAR-MIS MANOS TE ENSEÑAN-EXPERIENCIAS DE CUIDADO Y CRIANZA. </td>
		</tr>
		<tr>
			<td id="title">Observaciones</td>
			<td colspan="2"></td>
		</tr>
	</table>
</section>

<section class="formato1" id="pg8">
	<table border="1">
		<tr>
			<td colspan="3">PLANEACIÓN PEDAGÓGICA: NUEVOS RETOS, NUEVAS EXPERIENCIAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA UNIDAD DE SERVICIO: <%= @agente.nombreUds.upcase %></td>
		</tr>
		<tr>
			<td colspan="3">PRACTICAS: 1, 13</td>
		</tr>
		<tr>
			<td id="title">FECHA: 07/07/2020</td>
			<td colspan="2">NOMBRE AGENTE EDUCATIVO: <%= "#{@agente.primerNombre.upcase} #{@agente.primerApellido.upcase}" %></td>
		</tr>
		<tr>
			<td colspan="3">RETO: ¡¡EXPLOTANDO LOS VIRUS!!</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA ACTIVIDAD: AUTOCUIDADO – MIS MANOS TE ENSEÑAN A CUIDARTE</td>
		</tr>
		<tr>
			<td colspan="3">INTENCIONALIDAD FORMATIVA: Saludar afectuosamente, indagar un poco sobre el estado de salud de todo y en especial de los niños, cómo se encuentran, qué han presentado últimamente, si están tranquilos, etc. Seguidamente motivar tanto a padres como a niños y niñas a continuar tomando las medidad preventivas con ell fin de protegerse y cuidad la salud</td>
		</tr>
		<tr>
			<td id="title">Materiales a Utilizar</td>
			<td colspan="2">Objetos-Música-Recipiente-Agua-Jabón</td>
		</tr>
		<tr>
			<td id="title">Describa la actividad de inicio</td>
			<td colspan="2">Saludar afectuosamente, indagar un poco sobre el estado de salud de todo y en especial de los niños, cómo se encuentran, qué han presentado últimamente, si están tranquilos, etc. Seguidamente motivar tanto a padres como a niños y niñas a continuar tomando las medidas preventivas con el fin de protegerse y cuidar la salud</td>
		</tr>
		<tr>
			<td id="title">Describa el desarrollo de la actividad</td>
			<td colspan="2"><p>PRÁCTICA # 10: Permitir que él asuma un rol activo dentro de las tareas de autocuidado: Es fundamental que los niños vayan poco a poco aprendiendo a cuidar su imagen personal y su cuerpo. Sin embargo, si no le damos espacio para que ellos mismos aprendan a realizar tareas de esta índole, seguirán siendo dependientes de sus padres y no lograrán hacerse cargo de su propio autocuidado. Es cierto que cuando los niños son muy pequeños no cuentan con las destrezas motoras para realizar a la perfección las actividades de higiene y vestuario. Por esto debemos estimular a que las aprendan de forma gradual. </p><br>

			<p>PRÁCTICA # 13: Encuéntralo Juegue con el niño a buscar juntos cosas con diferentes propiedades. Puede hacerle preguntas como: ¿Qué objeto es grande en esta habitación? ¿Y cuál es pequeño? ¿Qué objeto es duro? ¿Y cuál es suave? ¿Qué es lo más fragante en esta habitación? ¿Qué cosas son azules o rojas o amarillas? En general que objeto es esponjoso, transparente, comestible, etc. Esta actividad desarrolla la atención el niño, amplía su conocimiento sobre el mundo que lo rodea y su vocabulario.</p><br>

			<p>RETO: ¡¡Explotando los virus!! Inicie la experiencia con una canción o con ejercicios que impliquen el movimiento de las manos y los dedos. Disponga en un recipiente agua con jabón para realizar burbujas. Tenga presente la prevención de accidentes por ingesta de esta sustancia; por lo cual debe estar bajo la supervisión de un adulto. Realice burbujas y motive a que la niña o el niño las toque con la punta de los dedos o que las exploten aplaudiendo. Oriente a la niña o al niño con palabras o movimientos relacionadas con arriba, abajo, izquierda o derecha para perseguir las burbujas. Explique el procedimiento a la niña o al niño, inicie con burbujas sobre superficies planas y motívelo a que las realice. Permítales la exploración de la sustancia jabonosa con los respectivos cuidados para evitar ingesta de la sustancia. Concluya la actividad con el procedimiento para  realizar la práctica de lavado de manos.</p></td>
		</tr>
		<tr>
			<td id="title">Describa el cierre de la actividad</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td id="title">Describa cómo documentará la actividad</td>
			<td colspan="2">RETOS DE CUIDADO Y CRIANZA EN EL HOGAR-MIS MANOS TE ENSEÑAN-EXPERIENCIAS DE CUIDADO Y CRIANZA. </td>
		</tr>
		<tr>
			<td id="title">Observaciones</td>
			<td colspan="2"></td>
		</tr>
	</table>
</section>

<section class="formato1" id="pg9">
	<table border="1">
		<tr>
			<td colspan="3">PLANEACIÓN PEDAGÓGICA: NUEVOS RETOS, NUEVAS EXPERIENCIAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA UNIDAD DE SERVICIO: <%= @agente.nombreUds.upcase %></td>
		</tr>
		<tr>
			<td colspan="3">PRACTICAS: 1, 13</td>
		</tr>
		<tr>
			<td id="title">FECHA: 08/07/2020</td>
			<td colspan="2">NOMBRE AGENTE EDUCATIVO: <%= "#{@agente.primerNombre.upcase} #{@agente.primerApellido.upcase}" %></td>
		</tr>
		<tr>
			<td colspan="3">RETO: MIS MANOS DEBO LAVAR</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA ACTIVIDAD: METAS DE AUTONOMÍA – MIS MANOS TE ENSEÑAN</td>
		</tr>
		<tr>
			<td colspan="3">INTENCIONALIDAD FORMATIVA: Fomentar la autonomía desde los primeros años de vida es la base del aprendizaje. ...Ayudar a los niños a ser más autónomos es una tarea relativamente sencilla, ya que se trata de permitirles tomar decisiones y asumir responsabilidades</td>
		</tr>
		<tr>
			<td id="title">Materiales a Utilizar</td>
			<td colspan="2">Cámara-Celular-Canción-Instrumentos musicales</td>
		</tr>
		<tr>
			<td id="title">Describa la actividad de inicio</td>
			<td colspan="2">Buenos días amiguitos ¿Cómo están? Iniciaremos esta jornada con ánimo, energías, entusiasmo, contagiando a todos los miembros, grandes y chicos a ser parte de las actividades que tenemos para hoy, es importante que se integre la familia y se diviertan juntos.</td>
		</tr>
		<tr>
			<td id="title">Describa el desarrollo de la actividad</td>
			<td colspan="2"><p>PRÁCTICA # 10: Fijar metas de autonomías pequeñas y alcanzables para el niño. Por ejemplo, a un niño al que nunca se le había exigido ayudar en alguna actividad de la casa o se le había dado el espacio para vestirse, de un día para otro, los papás determinan que ya tenía la edad suficiente para hacerlo y le comenzaron a exigir una serie de cosas: ayudar a poner la mesa del desayuno, hacer su cama, bañarse solo y ordenar sus juguetes. ¿Qué podrían hacer? Al darse cuenta que no habían estimulado la autonomía del niño, comenzar pidiéndole pequeñas metas, como por ejemplo, ponerse el pijama en las noches y ayudar a levantar la mesa junto a los padres. Una vez que lo haya cumplido, darle nuevas tareas pero acorde a sus capacidades.</p>

			<p>PRÁCTICA # 13: Fotógrafo Sólo necesitas una cámara de verdad, el celular o simplemente una cámara de cartón. Con ella tu niño puede actuar como que te saca fotos en diferentes lugares. Normalmente es más divertido con el celular porque pueden verlas de nuevo, pero tú ya sabes si quieres arriesgarte.</p>

			<p>RETO Mis manos debo lavar: En familia construya una canción con el siguiente relato: Mis manos debo lavar: antes de cocinar, antes y después de comer, antes de dar de lactar al bebé, después de cambiar el pañal después de jugar… Mis manos debo lavar: después de a la mascota acariciar, después de ir al baño, después de toser o estornudar… Mis manos debo lavar: después de haber salido de casa, después de haber ido de compras, después de haber estado en el taxi o bus… y debemos recordar que en tiempos de COVID la mano no debemos dar, para toser o estornudar con el codo lo vas a lograr… Acompañe la construcción de la melodía utilizando instrumentos musicales que posea en casa o simplemente utilice las palmas de las manos, para llevar el ritmo.</p></td>
		</tr>
		<tr>
			<td id="title">Describa el cierre de la actividad</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td id="title">Describa cómo documentará la actividad</td>
			<td colspan="2">RETOS DE CUIDADO Y CRIANZA EN EL HOGAR-MIS MANOS TE ENSEÑAN-EXPERIENCIAS DE CUIDADO Y CRIANZA.</td>
		</tr>
		<tr>
			<td id="title">Observaciones</td>
			<td colspan="2"></td>
		</tr>
	</table>
</section>

<section class="formato1" id="pg10">
	<table border="1">
		<tr>
			<td colspan="3">PLANEACIÓN PEDAGÓGICA: NUEVOS RETOS, NUEVAS EXPERIENCIAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA UNIDAD DE SERVICIO: <%= @agente.nombreUds.upcase %></td>
		</tr>
		<tr>
			<td colspan="3">PRACTICAS: 1, 13</td>
		</tr>
		<tr>
			<td id="title">FECHA: 09/07/2020</td>
			<td colspan="2">NOMBRE AGENTE EDUCATIVO: <%= "#{@agente.primerNombre.upcase} #{@agente.primerApellido.upcase}" %></td>
		</tr>
		<tr>
			<td colspan="3">RETO: ¡SOMBRAS MÁGICAS!</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA ACTIVIDAD: CASA LIMPIA – MIS MANOS TE ENSEÑAN</td>
		</tr>
		<tr>
			<td colspan="3">INTENCIONALIDAD FORMATIVA: Enseñar hábitos de limpieza y responsabilidad a todos los mienbros del hogar</td>
		</tr>
		<tr>
			<td id="title">Materiales a Utilizar</td>
			<td colspan="2">Caja-Objetos-Celofán o bolsa-Rollo de papel higiénico-Cinta-Linterna imagen</td>
		</tr>
		<tr>
			<td id="title">Describa la actividad de inicio</td>
			<td colspan="2">Dar inicio a este nuevo día invitando a las familias a reflexionar en torno a la situación en la que nos encontramos en estos momentos, recordando y recalcando el lavado de manos como medida preventiva número 1 al igual que quedarse en casa.</td>
		</tr>
		<tr>
			<td id="title">Describa el desarrollo de la actividad</td>
			<td colspan="2"><p>PRÁCTICA # 6: Casa limpia: Resulta muy útil pedirle a los niños y niñas cosas como: tráeme esto, ve a tal lugar, ayúdame a aquello. Es decir, darles instrucciones sencillas, pero siempre enfatizando en lo que se les ha solicitado y realizando una conversación elemental en torno a esto.</p><br>

			<p>PRÁCTICA # 13: ¿Qué es esto?
			Conseguir una caja cerrada donde el niño no pueda ver las cosas en ella. Colocar un objeto dentro (un peine, una pelota pequeña, etc.) y sacudir la caja para que el niño escuche el sonido y preguntar ¿Qué es esto? Dejar que el niño intente sacar el objeto por medio de una abertura o agujero y hablar acerca del objeto, qué es, como se utiliza y cuál es su lugar. Los niños más grandes pueden intentar describir el objeto y pueden jugar con varios objetos en la caja.</p><br>

			<p>RETO ¡Sombras mágicas! Los proyectores mágicos son un objeto que permite generar sombras en la pared de distintas imágenes. La construcción de los proyectores con material reciclable se puede convertir en una experiencia familiar que permite generar otras formas de exploración y juego con niñas y niños de distintas edades, y reutilizar residuos que podrían convertirse en basura. Reúna los materiales necesarios para el proyector, los cuales pueden ser material reutilizable. Es importante que estén limpios y secos. Escoja un lugar donde puedan sentarse en familia a construir el proyector mágico.  Ahora a jugar: puede cambiar de imagen cuantas veces quiera o crear varios proyectores a la vez, uno para cada miembro de la familia. Puede usar plástico de colores como el papel celofán e incluso combinarlos para generar distintos colores. Puede narrar historias involucrando a todos los integrantes de la familia, dando un rol protagónico a niñas y niños. Si deforma el rollo del papel encontrará otros efectos visuales con muchas posibilidades de juego. (Ver anexo)</p></td>
		</tr>
		<tr>
			<td id="title">Describa el cierre de la actividad</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td id="title">Describa cómo documentará la actividad</td>
			<td colspan="2">RETOS DE CUIDADO Y CRIANZA EN EL HOGAR-MIS MANOS TE ENSEÑAN-EXPERIENCIAS DE CUIDADO Y CRIANZA. </td>
		</tr>
		<tr>
			<td id="title">Observaciones</td>
			<td colspan="2"></td>
		</tr>
	</table>
</section>

<section class="formato1 anexo" id="anx1">
	<%= image_tag wicked_pdf_asset_base64('anx4.PNG') %>
</section>

<section class="formato1" id="pg12">
	<table border="1">
		<tr>
			<td colspan="3">PLANEACIÓN PEDAGÓGICA: NUEVOS RETOS, NUEVAS EXPERIENCIAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA UNIDAD DE SERVICIO: <%= @agente.nombreUds.upcase %></td>
		</tr>
		<tr>
			<td colspan="3">PRACTICAS: 1, 13</td>
		</tr>
		<tr>
			<td id="title">FECHA: 10/07/2020</td>
			<td colspan="2">NOMBRE AGENTE EDUCATIVO: <%= "#{@agente.primerNombre.upcase} #{@agente.primerApellido.upcase}" %></td>
		</tr>
		<tr>
			<td colspan="3">RETO: IDENTIFICANDO EMOCIONES</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA ACTIVIDAD: LAVÁNDOSE LAS MANOS EN FORMA DIVERTIDA</td>
		</tr>
		<tr>
			<td colspan="3">INTENCIONALIDAD FORMATIVA: Enseñar a niños y adultos la importancia de lavarse las manos, ayudar a prevenir la transmisión de infecciones y enfermedadesm por lo tanto, además de ser un buen hábito de higiene es importante para la salud de todos.</td>
		</tr>
		<tr>
			<td id="title">Materiales a Utilizar</td>
			<td colspan="2">Agua-Jabón-Cartón-Marcadores-Silicona-Cinta adhesiva</td>
		</tr>
		<tr>
			<td id="title">Describa la actividad de inicio</td>
			<td colspan="2">Las manitos están sucias  y ahora... ¿qué haré? Con el agua y con la espuma, blanquitas las dejaré. Con la toalla suavecita  las podré secar y mis manos picaronas  Volverán a jugar. Con el fin de recalcar este hábito de higiene y aseo diario.</td>
		</tr>
		<tr>
			<td id="title">Describa el desarrollo de la actividad</td>
			<td colspan="2"><p>PRÁCTICA # 5: Lavándose las manos en forma divertida ¿Qué pueden hacer los padres? Relajarse y convertir la higiene personal en algo divertido. “Es importante enseñarle a los niños que lavarse las manos correctamente es un hábito saludable que les debe durar toda la vida”. El secreto es hacer que la experiencia sea positiva y memorable para la familia. Lavarse las manos de forma correcta, ayuda a eliminar diferentes tipos de gérmenes y bacterias con las que entramos en contacto todos los días.</p><br>

			<p>PRÁCTICA # 11: Ayudando en casa
			Hay muchas actividades en la casa en las cuales el niño puede participar mientras desarrolla diversas capacidades, tales como recoger las cucharas de la mesa, doblar las servilletas, pelar un plátano, abrir un paquete de mantequilla, etc. Es recomendable solicitar su ayuda pidiéndole amablemente “Ayúdame, por favor” de esta manera el niño estará contento de participar.</p><br>

			<p>RETO IDENTIFICANDO EMOCIONES: Las emociones visten cada aspecto de nuestras vidas y de nuestra cotidianidad. Saber controlarlas, gestionarlas y utilizarlas a través del fomento de la inteligencia emocional nos permitirá, sin duda, afrontar nuestro día a día de un modo más eficiente. https://youtu.be/_Rx_ELbk7fQ  A través de este video aprenderemos a elaborar un dado de emociones el cual nos será útil para enseñar a los niños a identificar y exteriorizar las emociones. Es importante, sobre todo en estos momentos de aislamiento social y cuarentena, donde nos encontramos todos juntos en casa, que los niños y niñas aprendan a identificar, gestionar y expresar sus emociones. Pongamos en práctica este estupendo recurso.</p></td>
		</tr>
		<tr>
			<td id="title">Describa el cierre de la actividad</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td id="title">Describa cómo documentará la actividad</td>
			<td colspan="2">RETOS DE CUIDADO Y CRIANZA EN EL HOGAR-MIS MANOS TE ENSEÑAN-EXPERIENCIAS DE CUIDADO Y CRIANZA. </td>
		</tr>
		<tr>
			<td id="title">Observaciones</td>
			<td colspan="2"></td>
		</tr>
	</table>
</section>

<section class="formato1 anexo" id="anx1">
	<%= image_tag wicked_pdf_asset_base64('anx5.PNG') %>
</section>

<section class="formato1 anexo" id="anx1">
	<%= image_tag wicked_pdf_asset_base64('anx6.PNG') %>
</section>

<section class="formato1" id="pg15">
	<table border="1">
		<tr>
			<td colspan="3">PLANEACIÓN PEDAGÓGICA: NUEVOS RETOS, NUEVAS EXPERIENCIAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA UNIDAD DE SERVICIO: <%= @agente.nombreUds.upcase %></td>
		</tr>
		<tr>
			<td colspan="3">PRACTICAS: 1, 13</td>
		</tr>
		<tr>
			<td id="title">FECHA: 13/07/2020</td>
			<td colspan="2">NOMBRE AGENTE EDUCATIVO: <%= "#{@agente.primerNombre.upcase} #{@agente.primerApellido.upcase}" %></td>
		</tr>
		<tr>
			<td colspan="3">RETO: HISTORIAS ASOMBROSAS DE ANIMALES</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA ACTIVIDAD: EVITAR INSECTOS</td>
		</tr>
		<tr>
			<td colspan="3">INTENCIONALIDAD FORMATIVA: Tomar medidad preventivas para evitar que las poblaciones de ciertos animales crezcan y afecten la salud de la familia.</td>
		</tr>
		<tr>
			<td id="title">Materiales a Utilizar</td>
			<td colspan="2">Balón-Historias</td>
		</tr>
		<tr>
			<td id="title">Describa la actividad de inicio</td>
			<td colspan="2">Iniciar este nuevo día encomendando todos nuestros actos y todo lo que vamos a vivir, al Señor Jesús, pidiendo a su vez su bendición y sanación para Colombia y el mundo entero. Dialogar sobre la salud y bienestar de todos los miembros del hogar.</td>
		</tr>
		<tr>
			<td id="title">Describa el desarrollo de la actividad</td>
			<td colspan="2"><p>PRÁCTICA # 7: Evitar insectos manteniendo la casa limpia
				Puedes ayudar a proteger tu casa de las plagas, manteniéndola limpia y ordenada. De esa forma no conseguirán una fuente de alimento ni un lugar para anidar. Las cuestiones relacionadas con la limpieza tienden a cambiar con las estaciones. Por ejemplo, a principios de verano es más probable que tengas problemas con los insectos. El invierno es una época en la que comúnmente ocurren infestaciones de ratas o ratones.</p><br>

				<p>PRÁCTICA # 13: Título: “El balón que viene y que va”<br>
				Objetivo: Lograr, crear la noción, de lo que se encuentra lejos y cerca de nosotros, lo que está a un lado, y a otro, y descubrir nuevos movimientos que se pueden realizar con el balón.
				El niño o niña lanza el balón, y lo sale a buscar, repitiendo esta acción varias veces. Luego el adulto le pide a los niños, que lancen el balón más lejos, o cerca, para un lado y luego para el otro, que lo hagan rodar, botear, volar, intercambiarlo con los demás jugadores, etc. Y así una por vez.</p>

				<p>RETO HISTORIAS ASOMBROSAS DE ANIMALES: En familia escojan un espacio y momento para socializar información sobre el habitad y alimentos que consumen algunos animales del territorio, y cómo algunos de ellos llegan a vivir en el hogar. Identifiquen en conjunto con las niñas y los niños cuales animales podrían causar daños en la salud de los miembros de la familia. Tenga en cuenta las siguientes historias asombrosas. (Ver anexo) Una vez socializadas estas “historias asombrosas”, y resueltas las dudas, motive a que las niñas y niños realicen en una hoja el plano o mapa de la casa donde habitan. Finalice la experiencia con un recorrido por los espacios de la casa e identifiquen en conjunto con la niña o el niño donde podrían vivir confortablemente cada uno de esos animales.</p></td>
		</tr>
		<tr>
			<td id="title">Describa el cierre de la actividad</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td id="title">Describa cómo documentará la actividad</td>
			<td colspan="2">RETOS DE CUIDADO Y CRIANZA EN EL HOGAR-MIS MANOS TE ENSEÑAN-EXPERIENCIAS DE CUIDADO Y CRIANZA. </td>
		</tr>
		<tr>
			<td id="title">Observaciones</td>
			<td colspan="2"></td>
		</tr>
	</table>
</section>

<section class="formato1 anexo" id="anx1">
	<%= image_tag wicked_pdf_asset_base64('anx7.PNG') %>
</section>

<section class="formato1" id="pg17">
	<table border="1">
		<tr>
			<td colspan="3">PLANEACIÓN PEDAGÓGICA: NUEVOS RETOS, NUEVAS EXPERIENCIAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA UNIDAD DE SERVICIO: <%= @agente.nombreUds.upcase %></td>
		</tr>
		<tr>
			<td colspan="3">PRACTICAS: 1, 13</td>
		</tr>
		<tr>
			<td id="title">FECHA: 14/07/2020</td>
			<td colspan="2">NOMBRE AGENTE EDUCATIVO: <%= "#{@agente.primerNombre.upcase} #{@agente.primerApellido.upcase}" %></td>
		</tr>
		<tr>
			<td colspan="3">RETO: RECORRIENDO NUESTRA CASA</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA ACTIVIDAD: LAVAR LOS PLATOS DESPUÉS DE COMER</td>
		</tr>
		<tr>
			<td colspan="3">INTENCIONALIDAD FORMATIVA: Adoptar medidas adecuadas para impedir que insectos, roedores y determinados agentes patógenos invadan los espacios y provoquen enfermedades.</td>
		</tr>
		<tr>
			<td id="title">Materiales a Utilizar</td>
			<td colspan="2">Libros-Hojas-crayolas</td>
		</tr>
		<tr>
			<td id="title">Describa la actividad de inicio</td>
			<td colspan="2">Aprendamos: El dedito se ensució y escondido se quedó en el fondo del bolsillo sin jabón y sin cepillo. Asomado a la pileta el dedito se cayó se mojó con agua fría y después se enjabonó…con el fin de continuar haciendo énfasis en los hábitos de higiene.</td>
		</tr>
		<tr>
			<td id="title">Describa el desarrollo de la actividad</td>
			<td colspan="2"><p>PRÁCTICA # 7: Evita insectos lavando los platos después de comer Una de las reglas para evitar las plagas en casa es lavar los platos. Sencilla, pero muy importante. Esperar para lavar los platos no es una gran idea. Incluso remojar los platos puede atraer insectos si se dejan durante un período prolongado de tiempo. Cuando laves los platos, asegúrate de secarlos y de dejar el fregadero limpio.</p><br>

			<p>PRÁCTICA # 12: Subir y bajar: Asegúrese que siempre baje y suba las escaleras muy cerca de la pared, de la que se apoyará para mantener el equilibrio. Lo ideal es que exista un pasamano para que el soporte sea más seguro. Si no cuenta con escaleras, tome libros gruesos u otros elementos que le permitan semejar uno o varios escalones e invite al niño a que los suba y los baje. Puede idear juegos de obstáculos en los que toda la familia, o al menos un miembro de esta, superen este tipo de pruebas en compañía del menor. Cuando él logre hacerlo, felicítelo y reconozca su éxito.</p><br>

			<p>RETO RECORRIENDO NUESTRA CASA: Para contribuir a la consolidación del hogar como entorno protector: Dibuje en conjunto con la niña, el niño o la mujer gestante en hojas separadas caras felices y caras tristes El grupo familiar realiza un recorrido por el hogar (de ser posible los adultos de rodillas para visualizar el espacio a la altura de las niñas y los niños), a lo largo del recorrido se van identificando lugares seguros con las caras felices dibujadas previamente y los lugares que generan algún tipo de riesgo para los niños y las niñas con las caras tristes. En una cartelera el grupo familiar va a responder las siguientes preguntas: ¿Cómo podemos transformar las caras tristes en caras felices? ¿En los lugares donde hay caras tristes qué puede suceder? ¿Cómo lo podemos evitar?</p></td>
		</tr>
		<tr>
			<td id="title">Describa el cierre de la actividad</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td id="title">Describa cómo documentará la actividad</td>
			<td colspan="2">RETOS DE CUIDADO Y CRIANZA EN EL HOGAR-MIS MANOS TE ENSEÑAN-EXPERIENCIAS DE CUIDADO Y CRIANZA. </td>
		</tr>
		<tr>
			<td id="title">Observaciones</td>
			<td colspan="2"></td>
		</tr>
	</table>
</section>

<section class="formato1 anexo" id="anx1">
	<%= image_tag wicked_pdf_asset_base64('anx8.PNG') %>
</section>

<section class="formato1" id="pg19">
	<table border="1">
		<tr>
			<td colspan="3">PLANEACIÓN PEDAGÓGICA: NUEVOS RETOS, NUEVAS EXPERIENCIAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA UNIDAD DE SERVICIO: <%= @agente.nombreUds.upcase %></td>
		</tr>
		<tr>
			<td colspan="3">PRACTICAS: 1, 13</td>
		</tr>
		<tr>
			<td id="title">FECHA: 15/07/2020</td>
			<td colspan="2">NOMBRE AGENTE EDUCATIVO: <%= "#{@agente.primerNombre.upcase} #{@agente.primerApellido.upcase}" %></td>
		</tr>
		<tr>
			<td colspan="3">RETO: TODOS SOMOS INVESTIGADORES</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA ACTIVIDAD: ACTIVIDADES COTIDIANAS – MIS MANOS TE ENSEÑAN</td>
		</tr>
		<tr>
			<td colspan="3">INTENCIONALIDAD FORMATIVA: Orientar a los padres acerca de las medidas de seguridad y prevención de accidentes en el hogar, con especial énfasis en niñas, niños y personas adultas mayores</td>
		</tr>
		<tr>
			<td id="title">Materiales a Utilizar</td>
			<td colspan="2">Cuentos-Hojas-Crayolas</td>
		</tr>
		<tr>
			<td id="title">Describa la actividad de inicio</td>
			<td colspan="2">Dar los buenos días, pedir juntos al Creador sus bendiciones para éste y todos los hogares del mundo entero. Animar a los miembros de la familia a llevar a cabo las actividades de hoy. Cantar con los niños y niñas.</td>
		</tr>
		<tr>
			<td id="title">Describa el desarrollo de la actividad</td>
			<td colspan="2"><p>PRÁCTICA # 9: Promover tiempos compartidos para realizar actividades cotidianas del hogar (como bajar la escalera si no son pequeños, o cocinar, asear, entre otros), que sirvan de ejemplo y enseñen como realizarlas en condiciones seguras y previsivas. Todo de acuerdo con la edad y particularidades de cada miembro del hogar. En el caso de los adultos mayores, conversar y hacer pruebas de movilidad en la casa, para tener presente distancias, la forma de hacerlo, y seguridad en sus acciones de acuerdo con sus capacidades. </p><br>

			<p>PRÁCTICA # 13: Cuéntame un cuento Tú (y los demás de la familia) se sientan alrededor de tu hijo. Mientras cuenta el cuento, ríanse, repitan sus palabras, sorpréndanse, pongan cara triste o feliz dependiendo del cuento. Es muy posible que no le entiendas mucho, no hay problema, sólo gesticula y repite las palabras que le entiendas Esta actividad es perfecta para que tu hijo se empiece a entrenar para hablar en público y sus habilidades lingüísticas.</p><br>

			<p>RETO TODOS SOMOS INVESTIGADORES: En familia seleccionen 4 lugares del hogar como el baño, la escalera, el patio, las habitaciones, la cocina entre otros, van a seleccionar 4 lugares donde permanece más tiempo la niña o el niño. Una vez seleccionados estos 4 espacios la familia investigadora visita cada uno de esos espacios durante 5 minutos y registran sus observaciones a partir de las siguientes preguntas: ¿Cómo es el lugar? ¿Quiénes van a ese lugar?, ¿Qué actividades se realizan allí? ¿Qué objetos se usan? ¿Qué tipo de accidentes podrían ocurrir? ¿Cómo se podrían evitar? El equipo investigador comparte sus observaciones con las niñas, los niños y las mujeres gestantes realizaran el reporte de la investigación por medio de un dibujo.</p></td>
		</tr>
		<tr>
			<td id="title">Describa el cierre de la actividad</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td id="title">Describa cómo documentará la actividad</td>
			<td colspan="2">RETOS DE CUIDADO Y CRIANZA EN EL HOGAR-MIS MANOS TE ENSEÑAN-EXPERIENCIAS DE CUIDADO Y CRIANZA. </td>
		</tr>
		<tr>
			<td id="title">Observaciones</td>
			<td colspan="2"></td>
		</tr>
	</table>
</section>

<section class="formato1" id="pg20">
	<table border="1">
		<tr>
			<td colspan="3">PLANEACIÓN PEDAGÓGICA: NUEVOS RETOS, NUEVAS EXPERIENCIAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA UNIDAD DE SERVICIO: <%= @agente.nombreUds.upcase %></td>
		</tr>
		<tr>
			<td colspan="3">PRACTICAS: 1, 13</td>
		</tr>
		<tr>
			<td id="title">FECHA: 16/07/2020</td>
			<td colspan="2">NOMBRE AGENTE EDUCATIVO: <%= "#{@agente.primerNombre.upcase} #{@agente.primerApellido.upcase}" %></td>
		</tr>
		<tr>
			<td colspan="3">RETO: IDENTIFICANDO ANDO</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA ACTIVIDAD: RIESGOS DE ACCIDENTES – MIS MANOS TE ENSEÑAN A PROTEGERTE</td>
		</tr>
		<tr>
			<td colspan="3">INTENCIONALIDAD FORMATIVA: Seguir, aplicar y desarrollar y enseñar hábitos seguros en todo lo que concierne a los aparatos, productos, instalaciones y situaciones que en el hogar se van sucediendo.</td>
		</tr>
		<tr>
			<td id="title">Materiales a Utilizar</td>
			<td colspan="2">Botellas o tubos –Vinilos-Sticker-calcetines</td>
		</tr>
		<tr>
			<td id="title">Describa la actividad de inicio</td>
			<td colspan="2">Iniciar con la realización de una dinámica que contribuye a la interacción y comunicación entre los miembros de la familia. La silla caliente: Se selecciona a un miembro del grupo para que se siente en la  “silla caliente”. Los demás expresarán los sentimientos positivos que tienen hacia esa persona. Es importante que todo lo que se diga sea auténtico y sincero.</td>
		</tr>
		<tr>
			<td id="title">Describa el desarrollo de la actividad</td>
			<td colspan="2"><p>PRÁCTICA # 9: Disponer de momentos de diálogo con los miembros de la familia sobre los riesgos de accidentes, normas básicas de seguridad y autocuidado, repitiéndoselas cuantas veces sea necesario y explicándoles siempre la razón de cada norma Mantener una supervisión permanente sobre los niños y las niñas en cualquier lugar donde existan riesgos. No dejarlos solos/as en la casa o en un cuarto cerrado, o cualquier otro lugar que pueda ser peligroso. Reparar o cambiar los equipos o partes defectuosas. Salir de los juguetes y objetos rotos.</p><br>

			<p>PRÁCTICA # 13: Y todos se cayeron Haz un juego de bolos usando botellas de plástico o tubos de cartón de rollos de cocina. Puedes decorarlos con pintura o con sticker. Para comenzar usa tres o cuatro como a tres pies o un metro de la línea de tiro. Usa una pelota blanda grande o un par de calcetines enrollados. Anima a tu hijo a que lance la pelota, o lánzala si encuentra difícil el hacerla rodar. Cuanta más práctica tenga, más lejos puedes poner los obstáculos. Cuando tire uno, déjale saber cuántos le quedan para ayudarle a que continúe</p><br>

			<p>RETO IDENTIFICANDO ANDO: En familia Identifiquen las situaciones de riesgo. Retome 5 situaciones de riesgo identificadas por la familia en la imagen y comenten qué podría pasar y cómo evitarlo. Para ello, en una hoja diseñe el siguiente cuadro y diligéncielo con las conclusiones familiares. Diseñe con las niñas, los niños y las mujeres gestantes un dibujo que represente las medidas de prevención con lugares apropiados para implementos corto-punzantes, productos químicos en su lugar, etc.</p></td>
		</tr>
		<tr>
			<td id="title">Describa el cierre de la actividad</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td id="title">Describa cómo documentará la actividad</td>
			<td colspan="2">RETOS DE CUIDADO Y CRIANZA EN EL HOGAR-MIS MANOS TE ENSEÑAN-EXPERIENCIAS DE CUIDADO Y CRIANZA. </td>
		</tr>
		<tr>
			<td id="title">Observaciones</td>
			<td colspan="2"></td>
		</tr>
	</table>
</section>

<section class="formato1" id="pg21">
	<table border="1">
		<tr>
			<td colspan="3">PLANEACIÓN PEDAGÓGICA: NUEVOS RETOS, NUEVAS EXPERIENCIAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA UNIDAD DE SERVICIO: <%= @agente.nombreUds.upcase %></td>
		</tr>
		<tr>
			<td colspan="3">PRACTICAS: 1, 13</td>
		</tr>
		<tr>
			<td id="title">FECHA: 17/07/2020</td>
			<td colspan="2">NOMBRE AGENTE EDUCATIVO: <%= "#{@agente.primerNombre.upcase} #{@agente.primerApellido.upcase}" %></td>
		</tr>
		<tr>
			<td colspan="3">RETO: MI CUENTO ES UN CUENTO</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA ACTIVIDAD: CONGELADOS – MIS MANOS TE ENSEÑAN A CUIDARTE</td>
		</tr>
		<tr>
			<td colspan="3">INTENCIONALIDAD FORMATIVA: Fomentar en los niños el sentido de la autonomía y de la responsabilidad. Es interesante que los niños vayan tomando sus decisiones y vayan viendo que éstas tienen sus concecuencias.</td>
		</tr>
		<tr>
			<td id="title">Materiales a Utilizar</td>
			<td colspan="2">Caja-Periódicos-Revistas</td>
		</tr>
		<tr>
			<td id="title">Describa la actividad de inicio</td>
			<td colspan="2">Iniciar dialogando con la familia sobre las actividades diarias, qué hacen los niños, indagar si están siguiendo las sugerencias que se les hadado, si los niños han acatado los hábitos y si están participando en las actividades con ánimo y buena actitud.</td>
		</tr>
		<tr>
			<td id="title">Describa el desarrollo de la actividad</td>
			<td colspan="2"><p>PRÁCTICA # 10: Congelados Aprender a controlarse a uno mismo es una cualidad de carácter importantísima. Procura enseñar a tus hijos a controlar sus impulsos. Este juego ayuda a desarrollar esta cualidad. Quizá tú lo jugaste como “las estatuas de marfil”, pero se trata, simplemente, de bailar o correr hasta que mamá dice “¡congelados!”. En ese momento, todos deben de quedarse quietos en la posición en la que estaban. Después, puedes aplicar esta misma instrucción cuando estén a punto de romper algo o ponerse en peligro.</p><br>

			<p>PRÁCTICA # 13: “¡A empujar!”
			Objetivos: lograr una noción de lo que es el espacio temporal, y lo que es estar y mover objetos, de adelante hacia atrás, de izquierda, derecha, aquí, allá etc. Cada niño, efectúa la acción de empujar el objeto (caja) de un lado al otro, derecha e izquierda, de arriba abajo etc.… como él quiera. Luego el niño, se coloca dentro de esta caja y el adulto, lo empuja, creando una interacción entre ellos, referente a los movimientos que se realicen y así el niño reconozca las nociones dichas anteriormente, de derecha a izquierda, arriba abajo.</p><br>

			<p>RETO MI CUENTO ES UN CUENTO: Recolecte en conjunto con la niña o el niño revistas, periódicos u otro material impreso que tengan, en el cual aparezcan personas, artículos de aseo, alimentos entre otros artículos. Seleccionar en conjunto con la niña o el niño ¿cuáles? imágenes le llaman la atención y el ¿por qué? Recorte las figuras seleccionadas por la niña o el niño con las cuales se podrán desarrollar las siguientes experiencias: Construyan historias y cuentos Ambienten los espacios en los que se llevan a cabo las prácticas de higiene y alimentación. Diseñe un horario que le facilite a la niña o el niño identificar los momentos para las prácticas de higiene y alimentación, juego y  descanso.</p></td>
		</tr>
		<tr>
			<td id="title">Describa el cierre de la actividad</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td id="title">Describa cómo documentará la actividad</td>
			<td colspan="2">RETOS DE CUIDADO Y CRIANZA EN EL HOGAR-MIS MANOS TE ENSEÑAN-EXPERIENCIAS DE CUIDADO Y CRIANZA. </td>
		</tr>
		<tr>
			<td id="title">Observaciones</td>
			<td colspan="2"></td>
		</tr>
	</table>
</section>

<section class="formato1 anexo" id="anx1">
	<%= image_tag wicked_pdf_asset_base64('anx9.PNG') %>
</section>

<section class="formato1" id="pg23">
	<table border="1">
		<tr>
			<td colspan="3">PLANEACIÓN PEDAGÓGICA: NUEVOS RETOS, NUEVAS EXPERIENCIAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA UNIDAD DE SERVICIO: <%= @agente.nombreUds.upcase %></td>
		</tr>
		<tr>
			<td colspan="3">PRACTICAS: 1, 13</td>
		</tr>
		<tr>
			<td id="title">FECHA: 21/07/2020</td>
			<td colspan="2">NOMBRE AGENTE EDUCATIVO: <%= "#{@agente.primerNombre.upcase} #{@agente.primerApellido.upcase}" %></td>
		</tr>
		<tr>
			<td colspan="3">RETO: PINTA PATRIÓTICA</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA ACTIVIDAD: 20 DE JULIO, DÍA DE LA INDEPENDENCIA</td>
		</tr>
		<tr>
			<td colspan="3">INTENCIONALIDAD FORMATIVA: Celebrar con los niños y niñas desde casa el día de independencia</td>
		</tr>
		<tr>
			<td id="title">Materiales a Utilizar</td>
			<td colspan="2">Bandera-Celular-Ropa tricolor-Alimentos típicos</td>
		</tr>
		<tr>
			<td id="title">Describa la actividad de inicio</td>
			<td colspan="2">Dar inicio al acompañamiento con un saludo afectuoso, indagando sobre el comportamiento de los niños, las actitudes de la familia, sus estados anímicos y el manejo que le están dando a las situaciones que se presentan en el día a día.</td>
		</tr>
		<tr>
			<td id="title">Describa el desarrollo de la actividad</td>
			<td colspan="2"><p>Izar la bandera: La bandera, uno de los principales símbolos patrios en todos los países. La pondremos en la ventana de la casa. Si no tiene una, qué mejor oportunidad para hacerla en familia, ya sea coloreada por sus hijos o aprovechando materiales reciclables. Recuerde: el amarillo son las riquezas naturales del país; el azul, los mares y el rojo, la sangre de nuestros héroes.</p><br>

			<p>Protector de pantalla: ¿Qué tal llevar a todas partes la bandera nacional? Se logra si le pone a su celular un protector de pantalla (y al computador) con el tricolor nacional. Puede buscar en: <b>http://www.1zoom.me/es/ allpaper/329084/z602.8/1920x1080</b> En Facebook puede modificar su foto de perfil con la bandera que dice ‘Soy de Colombia’, que aparece en ‘agregar marco’.</p><br>

			<p>PRÁCTICA # 1: Comida típica: Nada como la comida típica en un día como hoy, y puede comenzar temprano saboreando una arepa, que las hay bien variadas: la santandereana, la arepa e’huevo costeña, la blanca paisa, con chocolate o agua de panela. También se admiten la changua boyacense, el tamal o el caldo de costilla. Y, para el almuerzo, qué tal un ajiaco santafereño, un sancocho valluno, una bandeja paisa, una ternera a la llanera, una lechona tolimense o pescado frito con arroz de coco. Todo bien colombiano.</p><br>

			<p>RETO: Pinta patriótica: Revisen en su clóset a ver qué prendas rojas, amarillas y azules tienen y cómo las pueden combinar para lucir bien patrióticos de pies a cabeza. Fijo tiene un ‘blue jean’, que puede ser la base de la pinta. O pueden ponerse la camiseta de la Selección Colombia, que tanto nos anima y llena de orgullo, y por qué no, pintarse la cara con el tricolor colombiano.</p></td>
		</tr>
		<tr>
			<td id="title">Describa el cierre de la actividad</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td id="title">Describa cómo documentará la actividad</td>
			<td colspan="2">RETOS DE CUIDADO Y CRIANZA EN EL HOGAR-MIS MANOS TE ENSEÑAN-EXPERIENCIAS DE CUIDADO Y CRIANZA.</td>
		</tr>
		<tr>
			<td id="title">Observaciones</td>
			<td colspan="2"></td>
		</tr>
	</table>
</section>

<section class="formato1 anexo" id="anx1">
	<%= image_tag wicked_pdf_asset_base64('anx10.PNG') %>
</section>

<section class="formato1" id="pg25">
	<table border="1">
		<tr>
			<td colspan="3">PLANEACIÓN PEDAGÓGICA: NUEVOS RETOS, NUEVAS EXPERIENCIAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA UNIDAD DE SERVICIO: <%= @agente.nombreUds.upcase %></td>
		</tr>
		<tr>
			<td colspan="3">PRACTICAS: 1, 13</td>
		</tr>
		<tr>
			<td id="title">FECHA: 22/07/2020</td>
			<td colspan="2">NOMBRE AGENTE EDUCATIVO: <%= "#{@agente.primerNombre.upcase} #{@agente.primerApellido.upcase}" %></td>
		</tr>
		<tr>
			<td colspan="3">RETO: MIS TESOROS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA ACTIVIDAD: RESPONSABILIDADES</td>
		</tr>
		<tr>
			<td colspan="3">INTENCIONALIDAD FORMATIVA: Fomentar el sentido de la responsabilidad en los niños, formándoles poco a poco en el compromiso, intentando que desde pequeños los niños se encarguen, dentro de sus posibilidades, de sus obligaciones y así transmitir buenos hábitos</td>
		</tr>
		<tr>
			<td id="title">Materiales a Utilizar</td>
			<td colspan="2">Revistas-Tijeras-Caja-Objetos</td>
		</tr>
		<tr>
			<td id="title">Describa la actividad de inicio</td>
			<td colspan="2">Saludar e iniciar un diálogo con los padres sobre la importancia de continuar tomando medidas preventivas contra el coronavirus, así como también llevar a cabo las prácticas de cuidado y crianza en el hogar.</td>
		</tr>
		<tr>
			<td id="title">Describa el desarrollo de la actividad</td>
			<td colspan="2"><p>PRÁCTICA # 10: Involucrar al niño en tareas de la vida cotidiana y darle algunas responsabilidades. Desde que el niño es muy pequeño se le puede pedir su colaboración en actividades sencillas de la vida cotidiana, tales como poner la mesa, ayudar a separar la ropa por colores para el lavado, juntar los calcetines del mismo par, ordenar algunas cosas de cocina. De este modo lo estimularemos a desarrollar diversas capacidades y al mismo tiempo lo haremos sentir parte importante de la vida familiar. </p><br>

			<p>PRÁCTICA # 13: ¿Dónde va esto? Usa revistas viejas para cortar imágenes de muebles, sillas, televisiones, cocinas, camas, así como otras cosas que tengas alrededor de la casa como ollas, toallas o libros. Luego corta fotografías de cuartos como el salón, el garaje o el jardín. Sitúa las imágenes en el piso y pídele a tu hijo que te ayude a poner las fotografías de los objetos en los cuartos correctos. No te preocupes demasiado si lo hace mal; el juego es una gran oportunidad para hablar y para que tu hijo desarrolle su capacidad de conversar.</p><br>

			<p>RETO ¡Mis tesoros! Busque en el hogar una caja de cartón que puede ser de zapatos o de pañuelos desechables o similares que permita crear un cofre para guardar objetos del hogar que a las niñas o niños les llame la atención. Identifique con la niña o el niño los objetos que haya en la casa para decorar el cofre. Relacione este cofre con historias o narraciones relacionadas con tesoros. Posteriormente ubique el cofre al alcance de la niña o el niño y promuévalo cada día para buscar objetos del hogar que pueda ocultar en el cofre diseñado. Revise eventualmente con la niña o el niño los objetos que ha ido coleccionando, proveche para indagar sobre las características de estos objetos y lo que le gustó de ellos.</p></td>
		</tr>
		<tr>
			<td id="title">Describa el cierre de la actividad</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td id="title">Describa cómo documentará la actividad</td>
			<td colspan="2">RETOS DE CUIDADO Y CRIANZA EN EL HOGAR-MIS MANOS TE ENSEÑAN-EXPERIENCIAS DE CUIDADO Y CRIANZA. </td>
		</tr>
		<tr>
			<td id="title">Observaciones</td>
			<td colspan="2"></td>
		</tr>
	</table>
</section>

<section class="formato1 anexo" id="anx1">
	<%= image_tag wicked_pdf_asset_base64('anx11.PNG') %>
</section>

<section class="formato1" id="pg27">
	<table border="1">
		<tr>
			<td colspan="3">PLANEACIÓN PEDAGÓGICA: NUEVOS RETOS, NUEVAS EXPERIENCIAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA UNIDAD DE SERVICIO: <%= @agente.nombreUds.upcase %></td>
		</tr>
		<tr>
			<td colspan="3">PRACTICAS: 1, 13</td>
		</tr>
		<tr>
			<td id="title">FECHA: 23/07/2020</td>
			<td colspan="2">NOMBRE AGENTE EDUCATIVO: <%= "#{@agente.primerNombre.upcase} #{@agente.primerApellido.upcase}" %></td>
		</tr>
		<tr>
			<td colspan="3">RETO: INTELIGENCIA EMOCIONAL PARA CONTROLAR SU IRA</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA ACTIVIDAD: LAVADO DE MANOS – MIS MANOS TE ENSEÑAN A PROTEGERTE</td>
		</tr>
		<tr>
			<td colspan="3">INTENCIONALIDAD FORMATIVA: Enseñar a niños y adultos que lavarse las manos es la mejor manera de evitar la propagación de gérmenes y de protegerse de las enfermedades</td>
		</tr>
		<tr>
			<td id="title">Materiales a Utilizar</td>
			<td colspan="2">Agua-Jabón-Rollos de papel higiénico-Vinilos-Sticker-Pinceles cartón-Marcadores-Ojos locos-Video</td>
		</tr>
		<tr>
			<td id="title">Describa la actividad de inicio</td>
			<td colspan="2">Iniciar la jornada con el respectivo saludo, expresando a los padres y niños el cariño y aprecio que se les tiene. Dialogaremos a cerca de la contingencia, buscando que expresen lo que sienten y piensan, con el fin de dar manejo a las situaciones de ser necesario</td>
		</tr>
		<tr>
			<td id="title">Describa el desarrollo de la actividad</td>
			<td colspan="2"><p>PRÁCTICA # 5: Después de que los niños aprendieron cómo y cuándo deben lavarse las manos es preciso hacer de ello un ritual, de manera en que lo hagan de manera natural y se vuelva un hábito. Un consejo es colgar carteles para que no lo olviden. Y lo más importante de todo: los padres son el ejemplo,  deben lavarse las manos regularmente para crear en el niño este importante hábito de aseo personal.</p><br>

			<p>PRÁCTICA # 13: Juego de construcciones para elaborar castillos, torres, puentes y ciudades. Cuantos más rollos consigamos para este juego mejor, los decoramos como queramos utilizando pinceles, vinilos, sticker, etc. Hacemos cuatro cortes en los rollos tanto por arriba como por abajo y ya está listo para encajar. (Ver anexo)</p><br>

			<p>RETO INTELIGENCIA EMOCIONAL PARA CONTROLAR SU IRA: Hasta los 18 meses los niños necesitan básicamente el afecto y el cuidado de sus padres, todo ello les aporta la seguridad suficiente para adaptarse en su medio, para explorar y dominar sus miedos. Pero hemos de tener en cuenta que a partir de los 6 meses van a empezar a desarrollar la rabia, de ahí la importancia de saber canalizar sus reacciones y corregir cualquier mala acción. Hay niños que pueden golpear a sus padres o hermanos, gritar enfurecidos cuando no se les ofrece algo… acciones que a los progenitores les puede hacer gracia, pero que son necesarias limitar desde su nacimiento. Sobre todo, hay que acompañarlas de mensajes que les inviten al razonamiento y al control de eso que están sintiendo. Para ello los invito a ver el siguiente video, y a aprender a elaborar unos huevitos de emociones que nos van a ayudar con el manejo de las emociones. <b>https://youtu.be/_Rx_ELbk7fQ</b></p></td>
		</tr>
		<tr>
			<td id="title">Describa el cierre de la actividad</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td id="title">Describa cómo documentará la actividad</td>
			<td colspan="2">RETOS DE CUIDADO Y CRIANZA EN EL HOGAR-MIS MANOS TE ENSEÑAN-EXPERIENCIAS DE CUIDADO Y CRIANZA. </td>
		</tr>
		<tr>
			<td id="title">Observaciones</td>
			<td colspan="2"></td>
		</tr>
	</table>
</section>

<section class="formato1 anexo" id="anx1">
	<%= image_tag wicked_pdf_asset_base64('anx12.PNG') %>
</section>

<section class="formato1" id="pg29">
	<table border="1">
		<tr>
			<td colspan="3">PLANEACIÓN PEDAGÓGICA: NUEVOS RETOS, NUEVAS EXPERIENCIAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA UNIDAD DE SERVICIO: <%= @agente.nombreUds.upcase %></td>
		</tr>
		<tr>
			<td colspan="3">PRACTICAS: 1, 13</td>
		</tr>
		<tr>
			<td id="title">FECHA: 24/07/2020</td>
			<td colspan="2">NOMBRE AGENTE EDUCATIVO: <%= "#{@agente.primerNombre.upcase} #{@agente.primerApellido.upcase}" %></td>
		</tr>
		<tr>
			<td colspan="3">RETO: QUIÉNES ME RODEAN</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA ACTIVIDAD: QUIÉNES ME RODEAN</td>
		</tr>
		<tr>
			<td colspan="3">INTENCIONALIDAD FORMATIVA: Resaltar la importancia de la formación de identidad en los niños y niñas</td>
		</tr>
		<tr>
			<td id="title">Materiales a Utilizar</td>
			<td colspan="2">Papel-Crayolas-Almohadas-Revistas-Platos de papel-Álbum</td>
		</tr>
		<tr>
			<td id="title">Describa la actividad de inicio</td>
			<td colspan="2">Iniciar esta nueva jornada saludando, dialogando sobre las emociones que nos embargan en estos momentos de confinamiento y el manejo que le damos a estas. Brindar el espacio para que expresen todo lo que sienten y así poder ayudar dando los mecanismos para gestionar dichas emociones de la mejor manera.</td>
		</tr>
		<tr>
			<td id="title">Describa el desarrollo de la actividad</td>
			<td colspan="2"><p>PRÁCTICA # 11: Conversar acerca de los nombres de cada uno: los niños, las niñas, la abuela, los papás, las mamás, etc.<br>
			Preguntar y preguntarse si alguno de los nombres se repite y destacar que aun cuando los nombres sean iguales, las personas son diferentes, únicas, singulares. Contar quién eligió sus nombres y el motivo de la elección. Imaginar que somos Pone Nombres y tenemos una Nombrería ¿Cuál sería el nombre que elegiríamos para nosotros?</p><br>

			<p>PRÁCTICA # 12: Dibujos dictados Juego para que los niños aprendan a escuchar, les ayudará a enfocarse y realmente escuchar lo que estás diciendo con todo detalle. Se trata de que ambos dibujen lo mismo, cada quien en su hoja de papel, pero el truco es que tu niño o niña no puede ver lo que tú dibujaste, sino que tú le tienes que dar instrucciones muy detalladas de qué dibujar para que sus trazos terminen dando como resultado lo mismo que tú hiciste –por ejemplo, una flor.</p><br>

			<p>PRÁCTICA # 13: ¡No te caigas al mar!<br>
			Imagínate que la alfombra o el piso es el mar y que tu hijo tiene que pasar al otro lado del cuarto sin mojarse los pies. Pon almohadones, revistas o platos de papel a través de la habitación para poder pasar. Es un juego divertido que le ayudará a tener sentido del equilibrio y del espacio.
			RETO ¿Quiénes me rodean? Construya en conjunto con la niña o el niño un álbum de fotos de las personas más significativas del núcleo familiar. Motive a que señale en las fotografías lo integrantes de la familia y apoye el reconocimiento de cada uno de ellos por el nombre, sobrenombre o características que le sean de fácil recordación. Motive a la niña o el niño a que observe el álbum en algún otro día de la semana e identifique los miembros de la familia y sus nombres. Nota: Pueden emplearse los dispositivos móviles para realizar el álbum de manera digital.</p></td>
		</tr>
		<tr>
			<td id="title">Describa el cierre de la actividad</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td id="title">Describa cómo documentará la actividad</td>
			<td colspan="2">RETOS DE CUIDADO Y CRIANZA EN EL HOGAR-MIS MANOS TE ENSEÑAN-EXPERIENCIAS DE CUIDADO Y CRIANZA. </td>
		</tr>
		<tr>
			<td id="title">Observaciones</td>
			<td colspan="2"></td>
		</tr>
	</table>
</section>

<section class="formato1 anexo" id="anx13">
	<%= image_tag wicked_pdf_asset_base64('anx13.PNG') %>
</section>

<section class="formato1" id="pg31">
	<table border="1">
		<tr>
			<td colspan="3">PLANEACIÓN PEDAGÓGICA: NUEVOS RETOS, NUEVAS EXPERIENCIAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA UNIDAD DE SERVICIO: <%= @agente.nombreUds.upcase %></td>
		</tr>
		<tr>
			<td colspan="3">PRACTICAS: 1, 13</td>
		</tr>
		<tr>
			<td id="title">FECHA: 27/07/2020</td>
			<td colspan="2">NOMBRE AGENTE EDUCATIVO: <%= "#{@agente.primerNombre.upcase} #{@agente.primerApellido.upcase}" %></td>
		</tr>
		<tr>
			<td colspan="3">RETO: TODO EN SU LUGAR</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA ACTIVIDAD: EL CRONÓMETRO</td>
		</tr>
		<tr>
			<td colspan="3">INTENCIONALIDAD FORMATIVA: Buscar adaptar los límites a la edad de los niños y establecer unas pautas que pueda entender: normas simples, concisas y sencillas</td>
		</tr>
		<tr>
			<td id="title">Materiales a Utilizar</td>
			<td colspan="2">Cronómetro-Ropa-Objetos-Crayolas papel-Mermelada pan</td>
		</tr>
		<tr>
			<td id="title">Describa la actividad de inicio</td>
			<td colspan="2">Dar inicio a la jornada con un saludo cantado: Saludar las manos compañeros, saludar las manos, las manos saludar, saludar cabezas compañeros, saludar cabezas, cabezas saludar…De esta manera motivar a los niños esta mañana.</td>
		</tr>
		<tr>
			<td id="title">Describa el desarrollo de la actividad</td>
			<td colspan="2"><p>PRÁCTICA # 12: El cronómetro <br>
				Este juego es especial para lograr objetivos como recoger un cuarto y estar listos a tiempo para realizar cualquier actividad. Primero, haz una lista de todas las cosas que tus niños tienen que hacer –por ejemplo: guardar juguetes, bañarse, vestirse, cerrar ventanas, dar de comer al perro. Después, la idea es establecer retos de tiempo, cronómetro en mano, para cada una de las actividades. Además de lograr que las tareas se conviertan en algo divertido, ¡todo se hará más rápido!</p><br>

				<p>PRÁCTICA # 13: El día rojo <br>
				Haz que un día a la semana sea el día rojo. Escoge ropa que sea roja. Come tostada con mermelada de fresa por la mañana. Dale papel y crayolas rojas a los niños para que hagan un dibujo rojo,  corta algunas flores rojas, cuenta objetos de la casa que sean rojos y merienda un batido de fresa. ¡Es un juego muy divertido para enseñarle los colores a tu hijo!</p><br>

				<p>RETO ¡Todo en su lugar! Establezca un espacio en el cual involucre al niño en la organización de objetos como juguetes, prendas de vestir, cubiertos, entre otros. Proponga durante la experiencia instrucciones relacionadas con ubicar estos elementos en los lugares que corresponden, orientar la ubicación por colores o por tamaños; esto no solo favorecerá la comprensión de la ubicación espacial sino además ir identificando las características de los objetos y el sentido del orden sobre éstas. Concluya la experiencia con una reflexión con el niño o la niña sobre cómo estaban antes los objetos y cómo quedaron luego de organizarlos.</p></td>
		</tr>
		<tr>
			<td id="title">Describa el cierre de la actividad</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td id="title">Describa cómo documentará la actividad</td>
			<td colspan="2">RETOS DE CUIDADO Y CRIANZA EN EL HOGAR-MIS MANOS TE ENSEÑAN-EXPERIENCIAS DE CUIDADO Y CRIANZA.</td>
		</tr>
		<tr>
			<td id="title">Observaciones</td>
			<td colspan="2"></td>
		</tr>
	</table>
</section>

<section class="formato1 anexo" id="anx13">
	<%= image_tag wicked_pdf_asset_base64('anx14.PNG') %>
</section>

<section class="formato1" id="pg33">
	<table border="1">
		<tr>
			<td colspan="3">PLANEACIÓN PEDAGÓGICA: NUEVOS RETOS, NUEVAS EXPERIENCIAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA UNIDAD DE SERVICIO: <%= @agente.nombreUds.upcase %></td>
		</tr>
		<tr>
			<td colspan="3">PRACTICAS: 1, 13</td>
		</tr>
		<tr>
			<td id="title">FECHA: 28/07/2020</td>
			<td colspan="2">NOMBRE AGENTE EDUCATIVO: <%= "#{@agente.primerNombre.upcase} #{@agente.primerApellido.upcase}" %></td>
		</tr>
		<tr>
			<td colspan="3">RETO: EVITANDO EL CONTAGIO</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA ACTIVIDAD: LA TABLA DEL COMPORTAMIENTO</td>
		</tr>
		<tr>
			<td colspan="3">INTENCIONALIDAD FORMATIVA: Buscar que los padres establezcan una serie de límites fundamentales a sus hijos desde pequeños y que ejerzan de guías en su comportamiento.</td>
		</tr>
		<tr>
			<td id="title">Materiales a Utilizar</td>
			<td colspan="2">Marcador papel o cartulina-Sticker-Crayolas –Hojas-Revistas-Tijeras-pegamento</td>
		</tr>
		<tr>
			<td id="title">Describa la actividad de inicio</td>
			<td colspan="2">Iniciar la jornada con una oración en acción de gracias a Dios por todo lo que día a día nos permite vivir, dar gracias por la salud, el amor, la familia, la vida. Acto seguido socializar con los padres o cuidadores las prácticas que trabajaremos en este día.</td>
		</tr>
		<tr>
			<td id="title">Describa el desarrollo de la actividad</td>
			<td colspan="2"><p>PRÁCTICA # 12: La tabla del comportamiento.<br>
				A veces, los pequeños solo necesitan un poco de motivación para desarrollar esos hábitos de disciplina que quieres enseñarles y una tabla del comportamiento puede ayudarte mucho con esto.
				Coloca una tabla o cartulina en algún lugar visible, que muestre los días de la semana y las categorías o comportamientos que se van a evaluar. Puedes colocar caritas felices y tristes o algunos “emoticones” para que ellos vean cómo lo están haciendo. Algunas categorías pueden ser “limpieza del cuarto”, “obediencia a la primera”, “actividades pedagógicas”. Obviamente, debe haber un premio cuando logran terminar la semana con buena calificación en la tabla.</p><br>

				<p>PRÁCTICA # 13: Garabatos<br>
				Dar a los niños crayones grandes, pon algunas hojas de papel grandes sobre el suelo y únete a tu hijo para hacer garabatos. No te preocupes de hacer dibujos, simplemente marca el papel con diferentes colores y formas. Será divertido y le ayudarás a tu hijo a desarrollar los movimientos de las manos.</p><br>

				<p>RETO EVITANDO EL CONTAGIO: Identifique dos (2) recomendaciones para cumplir con la cuarentena y evitar el contagio por COVID- 19. Dramatice en familia en conjunto con el niño o la niña las recomendaciones seleccionadas. Reflexione con la niña o el niño sobre la importancia de cumplir estas normas para el cuidado de la salud y lo que sucedería en caso de no cumplirlas. Proceda a elaborar 2 carteles con el niño o la niña que representen las recomendaciones dramatizadas, las cuales puede ser mediante dibujos o imágenes recortadas. Ubique los carteles en un lugar visible para que la niña el niño y su familia recuerden el cumplimiento de las recomendaciones para evitar el contagio.</p></td>
		</tr>
		<tr>
			<td id="title">Describa el cierre de la actividad</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td id="title">Describa cómo documentará la actividad</td>
			<td colspan="2">RETOS DE CUIDADO Y CRIANZA EN EL HOGAR-MIS MANOS TE ENSEÑAN-EXPERIENCIAS DE CUIDADO Y CRIANZA. </td>
		</tr>
		<tr>
			<td id="title">Observaciones</td>
			<td colspan="2"></td>
		</tr>
	</table>
</section>

<section class="formato1" id="pg34">
	<table border="1">
		<tr>
			<td colspan="3">PLANEACIÓN PEDAGÓGICA: NUEVOS RETOS, NUEVAS EXPERIENCIAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA UNIDAD DE SERVICIO: <%= @agente.nombreUds.upcase %></td>
		</tr>
		<tr>
			<td colspan="3">PRACTICAS: 1, 13</td>
		</tr>
		<tr>
			<td id="title">FECHA: 29/07/2020</td>
			<td colspan="2">NOMBRE AGENTE EDUCATIVO: <%= "#{@agente.primerNombre.upcase} #{@agente.primerApellido.upcase}" %></td>
		</tr>
		<tr>
			<td colspan="3">RETO: ENSEÑAR A RECONOCER LAS EMOCIONES BÁSICAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA ACTIVIDAD: Y TÚ ¿CÓMO TE LLAMAS?</td>
		</tr>
		<tr>
			<td colspan="3">INTENCIONALIDAD FORMATIVA: Reconocer que el entorno familiar, las interacciones y el contexto en el que se desarrollan los niños y niñas influyen, en gran medida, en la formación de su identidad personal.</td>
		</tr>
		<tr>
			<td id="title">Materiales a Utilizar</td>
			<td colspan="2">Videos-Crema-Maicena-Colorante-Tubos de papel higiénico-Silicona-Ojos locos-Vinilos-Pincel-marcador-Cuento</td>
		</tr>
		<tr>
			<td id="title">Describa la actividad de inicio</td>
			<td colspan="2">Saludar y entablar un diálogo con los padres acerca de las actividades que realiza la familia, en especial los niños durante el día, cómo es su comportamiento, su nivel de atención y sus estados de ánimo. Tomar nota de todo aquello que los padres expresen.</td>
		</tr>
		<tr>
			<td id="title">Describa el desarrollo de la actividad</td>
			<td colspan="2"><p>PRÁCTICA # 11: Y tú ¿cómo te llamas? El nombre de cada uno formará parte de nuestra identificación e identidad personal, aunque no lo hayamos elegido nosotros mismos. Es importante conocerlo, no solo como voz que nos nombra sino también como palabra escrita. Este cuento les da a los niños y niñas una oportunidad para indagar, en este sentido, sus propios nombres y los de las demás personas conocidas: <b>https://youtu.be/67ptbCIAT_U</b> </p><br>

			<p>PRÁCTICA # 13: Píntame la carita: ¿Qué necesitamos? ¡Solamente pintura facial! Para hacer la receta de la pintura facial necesitan: 4 cucharadas de crema facial, 2 cucharadas de maicena y unas gotas de colorante, mezcla todo. Si te queda demasiado espesa, agrega poquita agua. Ahora, ¿qué te parecería que se pintaran la cara el a ti y tú a él? Para hacerlo más divertido, escojan un día de pintarse la cara. Es una excelente actividad porque ¿a qué niño no le gusta pintarse la cara? Todo sea porque tu hijo aprenda a desarrollar sus habilidades artísticas y su imaginación. </p><br>

			<p>RETO ENSEÑAR A RECONOCER LAS EMOCIONES BÁSICAS: <br>
			A partir de los dos años es recomendable iniciar a los niños en el campo del reconocimiento de las emociones, ya que es cuando ellos empiezan a interactuar con los adultos y otros niños de modo más abierto. Podemos realizar varios ejercicios con ellos, como introducirlos en el conocimiento de las emociones básicas: alegría, tristeza, miedo y rabia. ¿Cómo hacerlo? Mediante el cuento infantil el MONSTRUO DE COLORES <b>https://drive.google.com/file/d/1DXDjr1YcTJIenkBJUPfXhRkUaIANpnLD/view</b>  y aprendamos a elaborar el monstruo con material del medio, siguiendo el siguiente video <b>https://youtu.be/_Rx_ELbk7fQ</b>  Este es un modo perfecto para que aprendan a reconocer sus emociones poco a poco y también las de los demás, y sobre todo, comenzar a desarrollar la habilidad de la empatía.</p></td>
		</tr>
		<tr>
			<td id="title">Describa el cierre de la actividad</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td id="title">Describa cómo documentará la actividad</td>
			<td colspan="2">RETOS DE CUIDADO Y CRIANZA EN EL HOGAR-MIS MANOS TE ENSEÑAN-EXPERIENCIAS DE CUIDADO Y CRIANZA. </td>
		</tr>
		<tr>
			<td id="title">Observaciones</td>
			<td colspan="2"></td>
		</tr>
	</table>
</section>

<section class="formato1 anexo" id="anx13">
	<%= image_tag wicked_pdf_asset_base64('anx15.PNG') %>
</section>

<section class="formato1 anexo" id="anx13">
	<%= image_tag wicked_pdf_asset_base64('anx16.PNG') %>
</section>

<section class="formato1" id="pg37">
	<table border="1">
		<tr>
			<td colspan="3">PLANEACIÓN PEDAGÓGICA: NUEVOS RETOS, NUEVAS EXPERIENCIAS</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA UNIDAD DE SERVICIO: <%= @agente.nombreUds.upcase %></td>
		</tr>
		<tr>
			<td colspan="3">PRACTICAS: 1, 13</td>
		</tr>
		<tr>
			<td id="title">FECHA: 30/07/2020</td>
			<td colspan="2">NOMBRE AGENTE EDUCATIVO: <%= "#{@agente.primerNombre.upcase} #{@agente.primerApellido.upcase}" %></td>
		</tr>
		<tr>
			<td colspan="3">RETO: LA BÚSQUEDA DEL TESORO</td>
		</tr>
		<tr>
			<td colspan="3">NOMBRE DE LA ACTIVIDAD: MUSICAL DE LIMPIEZA</td>
		</tr>
		<tr>
			<td colspan="3">INTENCIONALIDAD FORMATIVA: Reconocer la importancia de que los niños aprendan qué tienen que hacer en cada momento,  esto contribuye a que se  conviertan en personas más responsables.</td>
		</tr>
		<tr>
			<td id="title">Materiales a Utilizar</td>
			<td colspan="2">Juguetes-Granos-Frascos o vasos   -Hojas Marcadores -Cinta adhesiva-Objeto</td>
		</tr>
		<tr>
			<td id="title">Describa la actividad de inicio</td>
			<td colspan="2">Dar un afectuoso saludo, tanto a padres como a niños y niñas. Motivarlos a expresar lo que sienten, piensan y desean. Socializar con ellos las actividades del día.</td>
		</tr>
		<tr>
			<td id="title">Describa el desarrollo de la actividad</td>
			<td colspan="2"><p>PRÁCTICA # 6: Juego musical de limpieza
				Ordenar los juguetes es más divertido cuando todos cantan una canción de la habitación limpia. Los pequeños pies y manos se moverán más rápido cuando canten esta canción con un tono familiar. El adulto también puede tocar una canción estimulando a los niños a terminar de recoger cuando ésta acabe. Para agregar diversión, el adulto puede cerrar sus ojos y esperar para sorprenderse cuando los niños y niñas le pidan que eche un vistazo a la habitación ordenada.</p><br>

				<p>PRÁCTICA # 13: Clasificación de granos <br>
				¿Qué necesitas? Varios frascos o vasos de plástico Granos como frijoles, lentejas, arroz, etc. Asegúrate de tener de varios colores y tipos Una hoja reciclada o calcomanías de colores Marcadores o colores Cinta adhesiva En la hoja pinta y recorta figuras para pegarlas con la cinta en los frascos (trata de tener un frasquito por cada tipo de grano). Ahora toma los granos de diferentes colores y mézclalos. Y siéntate con tu niño o niña a clasificar granitos por color en cada frasquito. Esta actividad para niños de 2 a 3 años promueve el desarrollo de la motricidad fina y lo volverá más ágil con los objetos pequeños.</p><br>

				<p>RETO LA BÚSQUEDA DEL TESORO Un clásico que nunca pasa de moda. Es una variante del escondite, pero la diferencia principal es que lo que esconderemos será un objeto, y podremos acompañarlos mientras lo buscan y apoyarlos con pistas y consejos. Puedes elaborar una historia fantástica que les sirva de estímulo (tal vez un tesoro pirata, el escondite de un mago…) y haga volar su imaginación. Incluso podrías acompañarla de pistas misteriosas, dibujar un pequeño mapa… Verás cómo no paran hasta dar con el tesoro.</p></td>
		</tr>
		<tr>
			<td id="title">Describa el cierre de la actividad</td>
			<td colspan="2"></td>
		</tr>
		<tr>
			<td id="title">Describa cómo documentará la actividad</td>
			<td colspan="2">RETOS DE CUIDADO Y CRIANZA EN EL HOGAR-MIS MANOS TE ENSEÑAN-EXPERIENCIAS DE CUIDADO Y CRIANZA. </td>
		</tr>
		<tr>
			<td id="title">Observaciones</td>
			<td colspan="2"></td>
		</tr>
	</table>
</section>