<!DOCTYPE html>
<html>
  <head>
    <% if usuario_signed_in? %>
      <title><%= @title %></title>
    <% else %>
      <title>Login</title>
    <% end %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'login' %>
    <script src="https://kit.fontawesome.com/348c72a25c.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,600&display=swap" rel="stylesheet">
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <%= image_tag "wave.png", class: "wave" %>
      <div class="container">
        <div class="img">
          <%= image_tag "2.svg"%>
        </div>
        <div class="login-content">
          <%= yield %>      
        </div>
      </div>

    <%= javascript_pack_tag 'login'%>
  </body>
</html>
